<div class="modal-header">
<button class="close" data-dismiss="modal">×</button>
<h3>New Contact</h3>
</div>

<form id="new-contact" name="contact">
  <div class="modal-body" style="padding-left: 50px;">

    <br/>
    <div class="control-group">
      <label for="registration" style="clear: both; color: #000"><h4>Contact Name</h4></label>
      <input class="pull-left span3" type="text" name="first" id="first" value="" placeholder="First">
      <input class="pull-left span3" type="text" name="last" id="last" value="" style="margin-left: 20px" placeholder="Last">
      <p class="help-block pull-left hide" style="margin-top: 4px; margin-left: 15px;">Either First or Last Name Required</p>
    </div>

    <br/>
    <div class="control-group span3" style="margin-left: 0px; margin-top: 0px">
      <label for="registration" style="clear: both; color: #000"><h4>Phone</h4></label>
      <input class="pull-left span3" type="text" name="phone" id="phone" value="" placeholder="">
      <p class="help-block pull-left hide" style="margin-top: 4px; margin-left: 15px;">Invalid Phone Number</p>
    </div>

    <div class="control-group span3" style="margin-top: 0px">
      <label for="registration" style="clear: both; color: #000"><h4>Email</h4></label>
      <input class="pull-left span3" type="text" name="email" id="email" value="" placeholder="">
      <p class="help-block pull-left hide" style="margin-top: 4px; margin-left: 15px;">Invalid Email Address</p>
    </div>

    <br/>
    <div class="control-group span6" style="margin-left: 0px; margin-top: 20px">
      <label for="registration" style="clear: both; color: #000"><h4>Company Name</h4></label>
      <input class="pull-left span6" type="text" name="company" id="company" value="" placeholder="">
      <p class="help-block pull-left hide" style="margin-top: 4px; margin-left: 15px;">Invalid Company Name</p>
    </div>

  </div>
</form>

<div class="modal-footer">
<a href="#" class="btn" data-dismiss="modal">Cancel</a>
<button id="new_contact" class="btn btn-primary">Create Contact</button>
</div>
