
<!-- HEADER -->
<div id="contact_show_header"></div>

<div style="clear:both" class="page-header"></div>

<div class="span" style="width: 740px">

    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#contact_matches" data-toggle="tab">Matches</a>
      </li>   
      <li>
        <a href="#contact_requirements" data-toggle="tab">Requirements</a>
      </li>        
      <li>
        <a href="#contact_specs" data-toggle="tab">Specs Received</a>
      </li>
    </ul>

    <div class="tab-content">
    
        <!-- MATCHES -->
        <div class="tab-pane active" id="contact_matches">
        <table class="table table-condensed">
        <thead>
        <tr>
            <th></th>
            <th>Requirement</th>
            <th>Year</th>
            <th>Model</th>
            <th>Serial</th>
            <th>Total Time</th>
            <th>Price</th>
            <th>Sent</th>
        </tr>
        </thead>
        <tbody>
        <tr style="margin: 5px auto">
            <td>&nbsp;<i class="icon-large icon-plane"></i></td>
            <td>Domestic 650's</td>
            <td>2013</td>
            <td>Gulfstream G650</td>
            <td>6003</td>
            <td>10,123</td>
            <td>$70,250,000</td>
            <td><i class="icon-ok"></i></td>         
        </tr>
        <tr style="margin: 5px auto">
            <td>&nbsp;<i class="icon-large icon-globe"></i></td>
            <td>Domestic 650's</td>
            <td>2013</td>
            <td>Gulfstream G650</td>
            <td>6003</td>
            <td>10,123</td>
            <td>$70,250,000</td>
            <td></td>         
        </tr>
        </tr>
        <tr style="margin: 5px auto">
            <td>&nbsp;<i class="icon-large icon-globe"></i></td>
            <td>Domestic 650's</td>
            <td>2013</td>
            <td>Gulfstream G650</td>
            <td>6003</td>
            <td>10,123</td>
            <td>$70,250,000</td>
            <td></td>         
        </tr>               
        <tr style="margin: 5px auto">
            <td>&nbsp;<i class="icon-large icon-plane"></i></td>
            <td>Domestic 650's</td>
            <td>2013</td>
            <td>Gulfstream G650</td>
            <td>6003</td>
            <td>10,123</td>
            <td>$70,250,000</td>
            <td><i class="icon-ok"></i></td>         
        </tr>       
        
        </tbody>
        </table>
        </div>
            
        <!-- SPECS -->
        <div class="tab-pane" id="contact_specs"></div>
        
        <!-- REQUIREMENTS -->
        <div class="tab-pane" id="contact_requirements"></div>    
    </div>
    
</div>

<div style="clear:both"><br><br></div>

<div class="span6">

    <!-- NOTICES -->

    <!-- DETAILS -->
    <div id="contact_details"></div>

</div> <!-- end span6 (large body content area) -->

<div class="offset6" style="margin-right: 20px;">

    <!-- AIRCRAFT -->
    <h4 class="partial-header"> 
        <i class="icon-plane"></i> Associated Aircraft 
    </h4>

    <select style="width: 100%"><option>Pilot</option></select>
    <div class="control-group" style="margin: 0px; padding-right: 10px">
    <input type="text" style="width: 100%">
    </div>

    <div style="width: 100%"></div>
    <div style="width: 100%"></div>

    <!-- ACTIONS -->
    <div id="contact_actions"></div>
    
    <!-- DOCUMENTS -->
    
    <!-- DELETE -->
    <div id="contact_delete"></div>

</div> <!-- end offset6 (right spec details bar) -->



