
<!-- HEADER -->
<div id="contact_show_header"></div>
  

<div style="margin-right: 40px; margin-top: 10px;" 
      class="pull-right">
       
  <a onclick="return false;" class="delete_contact" href="#">Delete Contact</a>
  
</div>  
  
<div style="clear:both" class="page-header"></div>


<div class="span6">

    <!-- NOTICES -->

    <!-- NOTES -->
    <div id="contact_notes"></div>

</div> <!-- end span6 (large body content area) -->

<div class="offset6" style="margin-right: 20px;">

    <!-- ACTIONS -->
    <div id="contact_actions"></div>
    
    <!-- DOCUMENTS -->

</div> <!-- end offset6 (right spec details bar) -->

<div class="span9">
  
    <!-- SPECS -->
    <div id="contact_specs"></div>
    
</div>

