
<!-- HEADER -->
<div id="contact_show_header"></div>

<div style="clear:both" class="page-header"></div>

<div class="span6">

    <!-- NOTICES -->

    <!-- DETAILS -->
    <div id="contact_details"></div>

</div> <!-- end span6 (large body content area) -->

<div class="offset6" style="margin-right: 20px;">

    <!-- ACTIONS -->
    <div id="contact_actions"></div>
    
    <!-- DOCUMENTS -->
    
    <!-- DELETE -->
    <div id="contact_delete"></div>

</div> <!-- end offset6 (right spec details bar) -->

<div class="span9">

    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#contact_specs" data-toggle="tab">Aircraft Specs Received</a>
      </li>
      <li>
        <a href="#contact_requirements" data-toggle="tab">Requirements</a>
      </li>      
    </ul>

    <div class="tab-content">
        <!-- SPECS -->
        <div class="tab-pane active" id="contact_specs"></div>
        
        <!-- REQUIREMENTS -->
        <div class="tab-pane" id="contact_requirements"></div>    
    </div>
    
</div>

