
<!-- HEADER -->
<div id="contact_show_header"></div>
<div class="clearfix"><br></div>

<!-- LEADS -->
<div id="contact_leads"></div>
<div class="clearfix"></div>

<div class="span6">

    <!-- NOTES -->
    <div id="contact_notes"></div>

</div> <!-- end span6 (large body content area) -->

<div class="offset6" style="margin-right: 20px;">

    <!-- ACTIONS -->
    <div id="contact_actions"></div>
    
    <!-- DOCUMENTS -->
    
    <!-- DELETE -->
    <div id="contact_delete"></div>

</div> <!-- end offset6 (right spec details bar) -->
