
<!-- HEADER -->
<div id="contact_show_header"></div>

<div style="clear:both"><br></div>

<!-- REQUIREMENTS -->
<div id="contact_requirements"></div>

<div class="span6">

    <!-- NOTICES -->

    <!-- NOTES -->
    <div id="contact_notes"></div>

    <!-- DETAILS -->
    <div id="contact_details"></div>

</div> <!-- end span6 (large body content area) -->

<div class="offset6" style="margin-right: 20px;">

    <!-- SEND -->
    <div id="contact_send"></div>

    <!-- ACTIONS -->
    <div id="contact_actions"></div>
    
    <!-- DOCUMENTS -->
    
    <!-- DELETE -->
    <div id="contact_delete"></div>

</div> <!-- end offset6 (right spec details bar) -->

<div id="add_aircraft_modal" class="modal hide" style="margin: 100px 0 0 -280px">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3>Add Aircraft to Deck?</h3>
  </div>
  <div class="modal-body">
    <p>This aircraft is not currently in your deck. Would you like to add it?</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
    <a href="#" class="btn btn-primary">Add Aircraft to My Deck</a>
  </div>
</div>

