
<!-- HEADER -->
<div id="contact_show_header"></div>

<div style="clear:both"><br></div>

<div class="row" style="margin-left: 0px;">

    <!-- SPECS -->
    <div id="contact_specs"></div>

    <!-- SEND -->
    <div id="contact_send"></div>

</div>

<div class="clearfix"></div>

<div class="page-header"></div>

<div class="span6">

    <!-- NOTICES -->

    <!-- NOTES -->
    <div id="contact_notes"></div>

    <!-- DETAILS -->
    <div id="contact_details"></div>

</div> <!-- end span6 (large body content area) -->

<div class="offset6" style="margin-right: 20px;">

    <!-- ACTIONS -->
    <div id="contact_actions"></div>
    
    <!-- DOCUMENTS -->
    
    <!-- DELETE -->
    <div id="contact_delete"></div>

</div> <!-- end offset6 (right spec details bar) -->