
<!-- HEADER -->
<div id="contact_show_header"></div>
  

<div style="margin-right: 40px; margin-top: 10px;" 
      class="pull-right">
       
  <a onclick="return false;" class="delete_contact" href="#">Delete Contact</a>
  
</div>  
  
<div style="clear:both" class="page-header"></div>


  <div class="span9">
  
          <!-- SPECS -->
      <div id="contact_specs"></div>
      
  </div>

