
<div id="jetdeck_widget_title">
    <h3><img style="height:30px" src="<%= window.jetdeck_logo %>"/>&nbsp;<a id="jetdeck_close" href="#">x</a></h3>
</div>

<div id="jetdeck_widget_content">
    <div id="jetdeck_airframe_label_error"><strong>Cannot find an aircraft on this page to import.</strong></a></div>
    <br>
</div>
