
<div id="jetdeck_widget_title">
    <h3><img src="http://localhost:3000/assets/ajax-loader.gif" height=18 style="float: left; margin-right: 5px;">JetDeck Is Importing...<a id="jetdeck_close" href="#">x</a></h3>
</div>

<div id="jetdeck_widget_content">
    <div id="jetdeck_airframe_label"><a href="#"><strong>2003 Cessna Grand Caravan</strong></a></div>
    <br>
    The import will continue even if you close this page or navigate away. This aircraft will be available shortly in your deck!
</div>
