
<div id="jetdeck_widget_title">
    <h3>JetDeck is Importing <a id="jetdeck_close" href="#">x</a></h3>
</div>

<div id="jetdeck_widget_content">
    <div id="jetdeck_airframe_label">
    	<strong><%=title%></strong>
    </div>
    <br>
</div>
