<li class="nav-header">
  Team Activity
</li>

<li>
 <a href="#"><i class="icon-plus"></i> <span class="label label-info"><i class="icon-plane icon-white"></i> BB-1241</span></a>
</li>
<li>
  <a href="#"><i class="icon-refresh"></i> <span class="label label-info"> <i class="icon-user icon-white"></i> Lou Green..</span></a>
</li>
<li>
  <a href="#"><i class="icon-refresh"></i> <span class="label label-info"><i class="icon-plane icon-white"></i> 208B341</span></a>
</li>
<li>
  <a href="#"><i class="icon-refresh"></i> <span class="label label-info"><i class="icon-plane icon-white"></i> LJ-123</span></a>
</li>
<li>
  <a href="#"><i class="icon-plus"></i> <span class="label label-info"> <i class="icon-user icon-white"></i> Mary Toew..</span></a>
</li>
<li>
  <a href="#"><i class="icon-refresh"></i> <span class="label label-info"><i class="icon-plane icon-white"></i> 208B0923</span></a>
</li>
