<li class="nav-header">
  Team Members
</li>

<li>
  <a href="#"><i class="icon-eye-open"></i> Steve Muller</a>
</li>
<li">
  <a href="#"><i class="icon-time"></i> Charlie Belcher</a>
</li>
<li>
  <a href="#"><i class="icon-eye-open"></i> Jacob Simons</a>
</li>
<li>
  <a href="#"><i class="icon-eye-close"></i> John Holland</a>
</li>
<li>
  <a href="#"><i class="icon-time"></i> Chris Davies</a>
</li>
