<div>
<h4 class="well" style="padding: 5px;"> <i class="icon-check"></i> Tasks <span class="pull-right" style="margin-right: 5px;"><small><a href="#">Add</a></small></span></h4>

  <label class="checkbox">
    <input type="checkbox"> <span class="label label-info"><i class="icon-comment icon-white"> </i> Contact</span> Steve S About possible lease back deal
  </label>
  <label class="checkbox">
    <input type="checkbox"> <span class="label"><i class="icon-asterisk icon-white"> </i> Action</span> Update ownership info on BB-1242
  </label>
  <label class="checkbox">
    <input type="checkbox"> Arrange demo with new lead from bill
  </label>
  <label class="checkbox">
    <input type="checkbox"> <span class="label"><i class="icon-asterisk icon-white"> </i> Action</span>  Renew exlusive listing agreement by August
  </label>

<h3>&nbsp;</h3>
</div>
