<h1>Listing airframes</h1>

<table id="airframes-table">
  <tr>
    <th>Serial</th>
    <th>Registration</th>
    <th>Year</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Airframe</a>