
        <div class="span3" id="main-thumbnail">
          <a data-toggle="modal" href="#photo_modal"><img src="http://www.controller.com/ImageService/ServeImage.aspx?img=87548408&listingPub=CNT&nMaxW=565&nMaxH=424"/></a>
        </div>

        <div class="offset3">

          <h1>2004 Dassault Falcon 9000EX</h1>
          <div style="height: 5px;"></div>
          <span class="label label-warning tags_enabled">Damage History</span>
          <span class="label label-important tags_enabled">Listed</span>
          <a href="#"><span class="label label-info tags_enabled">May 2002</span></a>
          <a href="#"><span class="label label-info tags_enabled">Jan's List</span></a>
          <a href="#"><span class="label label-info tags_enabled">Australia</span></a>

          <div style="margin: 20px 0px 0px 0px; font-size: 110%">
            <div style="margin: 5px 0px;"><strong>Serial Number</strong> LJ-5233</div>
            <div style="margin: 5px 0px"><strong>Registration</strong> N523JJ</div>
            <div style="margin: 5px 0px"><strong>Location</strong> <a href="#">KVNY</a> (Van Nuys, CA)</div>
            <div style="margin: 5px 0px;"><strong>Asking</strong> <input type="text" class="inline_edit" value="$12,200,000" name="registration"></input></div>
            <div style="margin: 5px 0px;"><strong>Agent</strong> <a href="#">Steve Muller</a></div>
          </div>
        </div>



          <div class="btn-toolbar pull-right" style="margin-right: 20px; margin-top: -35px;">
          <div class="btn-group">
            <button class="btn btn-large"><i class="icon-cog "></i> Setup</button>
          </div>
          </div>

        <div style="clear:both" class="page-header"></div>

        <div class="span6">

          <div class="alert alert-block alert-error alerts_enabled">

            <a class="close" data-dismiss="alert" style=""><i class="icon-remove"></i></a>
            <h4 class="alert-heading">This Aircraft May Have Been Listed!</h4>
            We detected that this aircraft was listed on an online service(s) identified below. Note that it's availability may now be public information.

            <div>&nbsp;</div>

            <ul>
            <li><a href="http://www.controller.com/listingsdetail/aircraft-for-sale/GULFSTREAM-V/2002-GULFSTREAM-V/1232315.htm?">http://www.controller.com/listingsdetail/...</a></li>
            <li><a href="http://www.controller.com/listingsdetail/aircraft-for-sale/GULFSTREAM-V/2002-GULFSTREAM-V/1232315.htm?">http://www.aerocontroller.com/aircraft/123...</a></li>
            </ul>

            <div class="pull-right">
              <label class="checkbox">
                <input type="checkbox"> Mute Alerts
              </label>
            </div>

            <div>&nbsp;</div>

          </div>

          <div class="notes_enabled">

            <textarea class="span6" placeholder="Add a note about this aircraft ..."></textarea>
            <button class="pull-right btn btn-mini">Add Note</button>
            <a class="pull-right" style="margin: 3px 10px;" href="#">Options</a>
            <h2><br/></h2>

            <h4>Nate Fisher <small>on <strong>July 25</strong> @ 2:32pm EDT</small></h4>
            Checkboxes and radios Up to v1.4, Bootstrap required extra markup around
            checkboxes and radios to stack them. Now, it's a simple matter of repeating
            the Checkboxes and radios Up to v1.4, Bootstrap required extra markup
            around checkboxes and radios to stack them. Now, it's a simple matter of repeating the

            <!-- more notes -->
            <div class="hide">
            <div class="page-header"></div>
            <h4>Steve Muller <small>on <strong>July 12</strong> @ 2:15pm EDT</small></h4>
            markup around checkboxes and radios to stack them. Now, it's a simple
            matter of repeating the Checkboxes and radios Up to v1.4, Bootstrap
            required extra markup around checkboxes and radios to stack them. Now,
            it's a simple matter of repeating the
            <div class="page-header"></div>
            <h4>Steve Muller <small>on <strong>July 7</strong> @ 11:23am EDT</small></h4>
            markup around checkboxes and radios to stack them. Now, it's a simple
            matter of repeating the Checkboxes and radios Up to v1.4, Bootstrap required
            extra markup around checkboxes and radios to stack them. Now, it's a simple
            matter of repeating the
            <div class="page-header"></div>
            <h4>Steve Muller <small>on <strong>February 24</strong> @ 4:25pm EDT</small></h4>
            markup around checkboxes and radios to stack them. Now, it's a simple
            matter of repeating the Checkboxes and radios Up to v1.4, Bootstrap required
            extra markup around checkboxes and radios to stack them. Now, it's a simple
            matter of repeating the
              <div class="pull-right">
                <div class="pagination" style="margin-top: 0px;">
                  <ul>
                    <li><a href="#"><<</a></li>
                    <li class="active">
                      <a href="#">1</a>
                    </li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">>></a></li>
                  </ul>
                </div>
              </div>
            </div> <!-- more notes -->
            <br/><div class="pull-right"><a href="#">..more</a></div>
            <h2><br/></h2>
          </div> <!-- notes -->

          <div class="details_enabled">

            <h3></h3>

            <div class="tabbable">

                <ul class="nav nav-tabs">
                  <li class="active">
                  <a href="#pane_details" data-toggle="tab">Airframe</a>
                  </li>
                  <li>
                  <a href="#pane_engine" data-toggle="tab">Engines</a>
                  </li>
                  <li>
                  <a href="#A" data-toggle="tab">Avionics</a>
                  </li>
                  <li>
                  <a href="#A" data-toggle="tab">Cosmetic</a>
                  </li>
                  <li>
                  <a href="#A" data-toggle="tab">Equipment</a>
                  </li>

                </ul>
              <div class="tab-content">
                <div class="tab-pane active" id="pane_details">


                  <table style=""  class="table table-condensed">
                    <tbody>
                      <tr>
                        <td style="border-top: 0px;"><h4><small>MSN</small></h4></td>
                        <td style="border-top: 0px;"><input type="text" class="inline_edit" value="BB-0234" name="registration"></input></td>
                        <td style="border-top: 0px;">&nbsp;</td>
                        <td style="border-top: 0px;"><h4><small>Registration</small></h4></td>
                        <td style="border-top: 0px;"><input type="text" class="inline_edit" value="N234HJ" name="registration"></input></td>
                      </tr>
                      <tr>
                        <td><h4><small>Model</small></h4></td>
                        <td><input type="text" class="inline_edit" value="King Air B200 ER SE" name="registration"></input></td>
                        <td>&nbsp;</td>
                        <td><h4><small>Year</small></h4></td>
                        <td><input type="text" class="inline_edit" value="1995" name="registration"></input></td>
                      </tr>
                      <tr>
                        <td><h4><small>Total Time</small></h4></td>
                        <td><input type="text" class="inline_edit" value="12,343" name="registration"></input></td>
                        <td>&nbsp;</td>
                        <td><h4><small>Total Cycles</small></h4></td>
                        <td><input type="text" class="inline_edit" value="12,343" name="registration"></input></td>
                      </tr>

                    </tbody>
                  </table>

                  </div>

                <div class="tab-pane" id="pane_engine">


                  <table style=""  class="table table-condensed">
                    <tbody>
                      <tr>
                        <td style="border-top: 0px;"><h4><small>MSN</small></h4></td>
                        <td style="border-top: 0px;"><input type="text" class="inline_edit" value="BB-0234" name="registration"></input></td>
                        <td style="border-top: 0px;">&nbsp;</td>
                        <td style="border-top: 0px;"><h4><small>Registration</small></h4></td>
                        <td style="border-top: 0px;"><input type="text" class="inline_edit" value="N234HJ" name="registration"></input></td>
                      </tr>
                      <tr>
                        <td><h4><small>Model</small></h4></td>
                        <td><input type="text" class="inline_edit" value="King Air B200 ER SE" name="registration"></input></td>
                        <td>&nbsp;</td>
                        <td><h4><small>Year</small></h4></td>
                        <td><input type="text" class="inline_edit" value="1995" name="registration"></input></td>
                      </tr>
                      <tr>
                        <td><h4><small>Total Time</small></h4></td>
                        <td><input type="text" class="inline_edit" value="12,343" name="registration"></input></td>
                        <td>&nbsp;</td>
                        <td><h4><small>Total Cycles</small></h4></td>
                        <td><input type="text" class="inline_edit" value="12,343" name="registration"></input></td>
                      </tr>
                      <tr>
                        <td><h4><small>Model</small></h4></td>
                        <td><input type="text" class="inline_edit" value="King Air B200 ER SE" name="registration"></input></td>
                        <td>&nbsp;</td>
                        <td><h4><small>Year</small></h4></td>
                        <td><input type="text" class="inline_edit" value="1995" name="registration"></input></td>
                      </tr>
                      <tr>
                        <td><h4><small>Total Time</small></h4></td>
                        <td><input type="text" class="inline_edit" value="12,343" name="registration"></input></td>
                        <td>&nbsp;</td>
                        <td><h4><small>Total Cycles</small></h4></td>
                        <td><input type="text" class="inline_edit" value="12,343" name="registration"></input></td>
                      </tr>

                    </tbody>
                  </table>

                  </div>

              </div>

              </div>


            <h2><br/></h2>
          </div> <!-- spec -->

          <div class="leads_enabled">

            <h3>Leads</h2>

              <table style="font-size:90%" class="table table-condensed">
                <thead>

                  <th>Email</th>
                  <th>Visits</th>
                  <th>Last Visited</th>
                  <th></th>
                </thead>
                <tbody>
                  <tr>

                    <td>nate@honeywell.com <i class="icon-fire"></td></td>
                    <td>17</td>
                    <td>June 3 @ 2:32pm</td>
                    <td>
                      <i class="icon-envelope"></i>

                    </td>
                  </tr>
                  <tr>

                    <td>steve@alliedjet.com</td>
                    <td>3</td>
                    <td>June 3 @ 2:32pm</td>
                    <td>
                      <i class="icon-envelope"></i>

                    </td>
                  </tr>
                  <tr>

                    <td>billh@bostonjets.com <i class="icon-fire"></td></td>
                    <td>1</td>
                    <td>June 3 @ 2:32pm</td>
                    <td>
                      <i class="icon-envelope"></i>

                    </td>
                  </tr>
                  <tr>

                    <td>aj123e@gmail.com</td>
                    <td>12</td>
                    <td>June 2 @ 2:32pm</td>
                    <td>
                      <i class="icon-envelope"></i>

                    </td>
                  </tr>
                  <tr>

                    <td>ella.dodson@embraerre...</td>
                    <td>0</td>
                    <td></td>
                    <td>
                      <i class="icon-envelope"></i>

                    </td>
                  </tr>
                  <tr>

                    <td>jeffrey.smith@att.com</td>
                    <td>6</td>
                    <td>June 1 @ 2:32pm</td>
                    <td>
                      <i class="icon-envelope"></i>

                    </td>
                  </tr>
                </tbody>
              </table>

              <div class="pull-right">
                <div class="pagination" style="margin-top: 0px;">
                  <ul>
                    <li><a href="#">Prev</a></li>
                    <li class="active">
                      <a href="#">1</a>
                    </li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">Next</a></li>
                  </ul>
                </div>
              </div>

          </div> <!-- leads -->

          <div style="clear:both" class="history_enabled">

            <h3>History </h2>

              <table style="font-size:90%" class="table table-condensed">
                <tbody>
                  <tr>
                    <td>N341D OPS LLC</td>
                    <td>LEASE</td>
                    <td>June 3 @ 2:32pm</td>
                  </tr>
                  <tr>
                    <td>STEPHEN H MULLER</td>
                    <td>SOLD</td>
                    <td>June 3 @ 2:32pm</td>
                  </tr>
                  <tr>
                    <td>SIERRA NEVADA CORP</td>
                    <td>SOLD</td>
                    <td>June 3 @ 2:32pm</td>
                  </tr>
                  <tr>
                    <td>SIERRA NEVADA CORP</td>
                    <td>DAMAGE REPORTED <i class="icon-exclamation-sign"></i></td>
                    <td>June 3 @ 2:32pm</td>
                  </tr>
                  <tr>
                    <td>FACTORY</td>
                    <td>SOLD</td>
                    <td>June 2 @ 2:32pm </td>
                  </tr>
                </tbody>
              </table>
              <div class="pull-right">
                <div class="pagination">
                  <ul>
                    <li><a href="#">Prev</a></li>
                    <li class="active">
                      <a href="#">1</a>
                    </li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">Next</a></li>
                  </ul>
                </div>
              </div>
          </div> <!-- history -->

        </div> <!-- span6 -->

        <div class="offset6" style="margin-right: 20px;">

            <div class="send_enabled">
            <h4 class="well" style="padding: 5px;"> <i class="icon-share-alt"></i> Send Spec</h4>
            <input class="input-large span3" style="margin: 0px;" id="appendedPrependedInput" placeholder="Enter an email address" type="text">
            <button class="pull-right" style="height: 28px;"><i class="icon-share-alt"></i></button>
            <label class="checkbox" style="margin: 5px 0px;">
              <input type="checkbox" checked> Create Contacts For New Addresses
            </label>
            <h3>&nbsp;</h3>
            </div>

            <div class="tasks_enabled">
            <h4 class="well" style="padding: 5px;"> <i class="icon-check"></i> Tasks <span class="pull-right" style="margin-right: 5px;"><small><a href="#">Add</a></small></span></h4>

              <label class="checkbox">
                <input type="checkbox"> <span class="label label-info"><i class="icon-comment icon-white"> </i> Contact</span> Steve S About possible lease back deal
              </label>
              <label class="checkbox">
                <input type="checkbox"> <span class="label"><i class="icon-asterisk icon-white"> </i> Action</span> Update ownership info on BB-1242
              </label>
              <label class="checkbox">
                <input type="checkbox"> Arrange demo with new lead from bill
              </label>
              <label class="checkbox">
                <input type="checkbox"> <span class="label"><i class="icon-asterisk icon-white"> </i> Action</span>  Renew exlusive listing agreement by August
              </label>

            <h3>&nbsp;</h3>
            </div>

            <div class="associates_enabled">
            <h4 class="well" style="padding: 5px;"> <i class="icon-user"></i> Associates <span class="pull-right" style="margin-right: 5px;"><small><a href="#">Edit</a></small></span></h4>

                <table style="font-size:90%;"  class="table table-condensed">
                  <tbody>
                    <tr>
                      <td  style="border-top: 0px;"><h6>David Cote</h6></td>
                      <td  style="border-top: 0px;">Owner (30%)</td>
                    </tr>
                    <tr>
                      <td><h6>John Hanson</h6></td>
                      <td>Chief Pilot</td>
                    </tr>
                    <tr>
                      <td><h6>Charlie Belcher</h6></td>
                      <td>Broker</td>
                    </tr>
                    <tr>
                      <td><h6>Francis Cote</h6></td>
                      <td>Owner (30%)</td>
                    </tr>
                  </tbody>
                </table>

            <h3>&nbsp;</h3>
            </div>

            <div class="listings_enabled">
            <h4 class="well" style="padding: 5px;"> <i class="icon-list-alt"></i> Listings <span class="pull-right" style="margin-right: 5px;"><small><a href="#">Edit</a></small></span></h4>

                <table style="font-size:90%;"  class="table table-condensed">
                  <tbody>
                    <tr>
                      <td  style="border-top: 0px;"><h6>Controller.com</h6></td>
                      <td  style="border-top: 0px;">$12,230,000</td>
                    </tr>
                    <tr>
                      <td><h6>AeroController</h6></td>
                      <td>$12,100,000</td>
                    </tr>
                    <tr>
                      <td><h6>SpeedNews</h6></td>
                      <td>$12,675,000</td>
                    </tr>
                    <tr>
                      <td><h6>PlaneFax</h6></td>
                      <td>$12,100,000</td>
                    </tr>
                  </tbody>
                </table>

            <h3>&nbsp;</h3>
            </div>

            <div class="documents_enabled">
            <h4 class="well" style="padding: 5px;"> <i class="icon-folder-open"></i> Documents <span class="pull-right" style="margin-right: 5px;"><small><a href="#">Add</a></small></span></h4>

                <table style="font-size:90%"  class="table table-condensed">
                  <tbody>
                    <tr>
                      <td  style="border-top: 0px;"><h6>Original Spec Sheet</h6></td>
                      <td  style="border-top: 0px;"><i class="icon-share-alt"></i><i class="pull-right icon-pencil"></i></td>
                    </tr>
                    <tr>
                      <td><h6>Log Book Entry Pg 3</h6></td>
                      <td><i class="icon-share-alt"></i><i class="pull-right icon-pencil"></i></td>
                    </tr>
                    <tr>
                      <td><h6>MEL</h6></td>
                      <td><i class="icon-share-alt"></i><i class="pull-right icon-pencil"></i></td>
                    </tr>
                    <tr>
                      <td><h6>Purchase Order</h6></td>
                      <td><i class="icon-share-alt"></i><i class="pull-right icon-pencil"></i></td>
                    </tr>
                  </tbody>
                </table>

            <h3>&nbsp;</h3>
            </div>

        </div> <!-- span3 right spec details bar-->


  <div class="modal fade" id="photo_modal">
    <div class="modal-header">
      <a class="close" data-dismiss="modal">x</a>
      <h3>Photo Manager</h3>
    </div>
    <div class="modal-body">

      <div id="controls"></div>
      <div id="loading"></div>
      <div id="slideshow"><img src="http://placehold.it/400x300" alt="your image title again for graceful degradation" /></div>
      <div id="caption"></div>

      <div id="thumbs">
          <ul class="thumbs noscript">
              <li>
                  <a class="thumb" href="http://placehold.it/300x250" title="your image title">
                      <img src="http://placehold.it/75x75" alt="your image title again for graceful degradation" />
                  </a>
              </li>
          </ul>
      </div>

    </div> <!-- modal body -->
  </div> <!-- photo modal -->    

