<table class="table table-condensed" id="contact_requirements_table">
<tbody></tbody>
</table>

<% if (pages > 1) { %>
<div class="row"  style="margin-left: 20px;">

        <div class="pagination pull-right">
          <ul>
            <li><a class="prev" onclick="return false;" href="#">Prev</a></li>

            <% if (pages > 2) { %>
            <% for (var i = 1; i < pages + 1; i++) { %>
            <li><a class="page" rel="<%= i %>" onclick="return false;" href="#"><%= i %></a></li>
            <% } } %>

            <li><a class="next" onclick="return false;" href="#">Next</a></li>
          </ul>
        </div>
  
</div>
<% } %> 
