<div class="span" style="width: 740px">
  <ul class="breadcrumb pull-left" style="background: #ecf2f5; width: 430px;">

    <li style="text-shadow: none"> 
      <strong>
        <i class="icon-plane"></i> 
        Aircraft Requirements 
      </strong> 
    </li>

    <li class="show-specs" style="height: 20px; float: right; text-shadow: none"> 
      <ul id="requirements-nav" style="list-style: none;">
        <li class="dropdown pull-left">
          <a class="dropdown-toggle" id="drop4" role="button" data-toggle="dropdown" href="#">Requirements <b class="caret"></b></a>
          <ul id="menu1" class="dropdown-menu pull-right" role="menu" aria-labelledby="drop4">
            <li class="disabled"><a tabindex="-1" href="#">King Air B200, TT 2000-3000, Yr 1995-2001</a></li>
            <li><a tabindex="-1" href="#" class="show-requirements">Phenom 100, TT 2000-3000, Yr 1995-2001</a></li>
            <li><a tabindex="-1" href="#" class="show-requirements">Gulfstream G300, TT 2000-3000, Yr 1995-2001</a></li>
            <li class="divider"></li>
            <li class="show-requirements" ><a tabindex="-1" href="#">Create New Requirement</a></li>
          </ul>
        </li>
      </ul>
    </li>  
                           
  </ul>


  <ul class="breadcrumb subsection pull-left" style="width: 160px; height: 20px; margin-left: 20px;">
    <li style="text-shadow: none"> 
      <strong>
        <i class="icon-share-alt"></i> 
        Specs <small style="font-weight: normal">(3)</small>
      </strong> 
    </li>
  </ul>   
  <button class="btn pull-left btn-danger" style="color: white; background: rgb(199, 120, 120); margin-left: 10px; height: 27px; padding-top: 3px;">Send</button> 

  <div class="clearfix"></div>


</div>


<div id="requirements-buttons">
  <div class="clearfix"></div>

  <div class="span6 show-requirements">
    <ul class="breadcrumb">
      <li style="text-shadow: none"> 
          <h4>
            24 Aircraft 
            <small>match <%= first %>'s requirements</small>
          </h4>
      </li>
    </ul>        
  </div>

  <div class="offset6" style="width: 260px">
    <div id="history" style="width: 250px; margin: 5px auto;"></div>
    <div style="width: 250px; margin: 5px auto;">
      <span style="float: left; line-height: 9px; font-size: 9px;">Daily Activity History</span>
    </div>
  </div>

</div>


<div class="page-header"></div>