<h3>Thank You, Hacker News!</h3>
<p>The open demo is now closed. However, the feedback from our <i>Ask HN</i> post was tremendously helpful, both from the forum comments and actual user interaction. We logged a ton of data, were able to stress a few tools and services with more realistic human traffic and were definitely humbled. Th experience will certainly improve the JetDeck product offering. For that, we can't thank you enough! </p>
<br>
Love,<br>
<strong>Team JetDeck</strong> (<a href="mailto:comms@jetdeck.co">comms@jetdeck.co</a>)

<br><br><br>
PS: If you'd like to stay in touch and be in line to try the released product, please <a href="http://www.jetdeck.co/signup.php">sign up for an invite</a>. 
