<div style="padding: 20px;">

    <form class="form-horizontal" method="POST" action="/authenticate">

          <div class="control-group <% if flash[:error] %> error <% end%>">

              <label class="control-label" for="email">Email</label>
              <div class="controls">
                <input
                  class="input-xlarge focused"
                  id="email"
                  name="email"
                  type="text"
                  value="<%= flash[:email] if flash[:email] %>">
              </div><br>

              <label class="control-label" for="password">Password</label>
              <div class="controls">
                <input class="input-xlarge focused" id="password"
                        name="password" type="password" value="">

                <% if flash[:error] %>
                <span class="help-inline">

                        <%= flash[:error] %>
                        <a href="#" onclick="return false;">
                        Forgot Your Password?</a>

                </span>
                <% else %>

                <span class="help-inline">
                   <input type="checkbox" name="remember_me" checked></input> 
                   <span>Remember Login</span>
                </span>  
                
                <% end %>
                              
              </div>

          </div>

          <div class="offset2 pull-right login">
              <span><a href="http://www.jetdeck.co/index.php#features">Learn More!</a></span>
              <input style="margin-top: -5px; margin-left: 10px;" type="submit" class="btn btn-primary" value="Log In"></input>
          </div>

    </form>

</div>
