
<h4>Login To JetDeck</h4>

<h4><br></h4>

<% if flash[:notice] %>
  <div class="alert alert-success span12" id="jetdeck-notification" style="margin-left: 0px;">
    <button class="close" data-dismiss="alert">×</button>
    <div class="notification-content"></div>
  </div>
  <script type="text/javascript">$(function() { alertSuccess("<%= flash[:notice] %>"); });</script>
  <div style="clear: both"></div>
<% end %> 

<%= form_tag "/authenticate" do %>
  
  <div class="control-group clearfix">
  <div class="controls">
  <input type="text" class="span12" value="<%= flash[:email] if flash[:email] %>" name="email" placeholder="Email">
  </div>
  </div>
  
  <div class="control-group clearfix">
  <div class="controls">
  <input type="password" class="span12" name="password" placeholder="Password">
  </div>
  </div>
  
  <% if flash[:error] %>
  <div class="control-group clearfix error" style="margin: 0">
  <div class="controls">
  <span class="help-inline pull-right "><%= flash[:error] %> <a href="/password_resets">Forgot Your Password?</a></span>
  </div>
  </div>  
  <div style="clear: both"></div>
  <% else %>  
    
  <label class="checkbox">
  <input type="checkbox" name="remember_me" checked /> 
  <span>Remember Me</span>
  <% end %>  
  </label>  
    
<% end %>
        
  <button class="btn btn-success pull-right" onclick="$('form').submit()"><h3>Login</h3></button>
  <div class="pull-right" style="margin: 10px;">
      <span><a href="http://www.jetdeck.co/#features">Learn More!</a></span>
  </div>
                
<h4><br><br></h4>

</div>
