
<h4>Reset Password</h4>

<h4><br></h4>

<%= form_for @user, :url => password_reset_path(params[:id]) do |f| %>

  <div class="alert alert-danger span12" id="jetdeck-notification" style="display: none; margin-left: 0px;"></div>
  <div style="clear: both"></div>
  
  <div class="control-group clearfix">
  <div class="controls">
  <input type="password" class="span12" name="user[password]" id="p" placeholder="New Password">
  </div>
  </div>
     
  <div class="control-group clearfix">
  <div class="controls">
  <input type="password" class="span12" name="user[password_confirmation]" id="c" placeholder="Confirm Password">
  </div>
  </div>
       
<% end %>
        
  <button class="btn btn-primary pull-right btn-large" id="reset-password"><strong>Reset Password</strong></button>
                
<h4><br><br></h4>

<script type="text/javascript">

$(function() {

  $("#reset-password").click(function() {
  
    if (passwdResetFieldsValid()) {
    
      // if all is good
      $('form').submit();
      
    } else {
      
      // show error msg
      $("#jetdeck-notification").html("Password and confirmation must match and be 6 characters or longer.");
      $("#jetdeck-notification").show();
    
    }
      
  });

});

function passwdResetFieldsValid() {

  return ($("#p").val() == $("#c").val() && $("#p").val().length > 5)
  
}

</script>

