
<h4>Reset Password</h4>

<h4><br></h4>

<% if flash[:notice] %>
  <div class="alert alert-danger span12" id="jetdeck-notification" style="margin-left: 0px;">

    <div class="notification-content"><%= flash[:notice] %></div>
  </div>
  <div style="clear: both"></div>
<% end %> 
  
<form action="/password_resets" method="POST">
  
  <div class="control-group clearfix">
  <div class="controls">
  <input type="text" class="span12" name="email" placeholder="Email">
  </div>
  </div>
     
</form>
        
  <button class="btn btn-success pull-right" onclick="$('form').submit()"><h3>Reset Password</h3></button>
                
<h4><br><br></h4>

</div>

