
<h4>Reset Password</h4>

<h4><br></h4>
  
<%= form_tag "/password_resets" do %>
  <div class="control-group clearfix">
  <div class="controls">
  <input type="text" class="span12" name="email" placeholder="Email">
  </div>
  </div>   
<% end %>
        
<button class="btn btn-primary pull-right btn-large" onclick="$('form').submit()"><strong>Reset Password</strong></button>
                
<h4><br><br></h4>

