
<div style="padding: 20px 0 0 40px">

    <div class="span2"></div><h2>Reset Password</h2>
    <form class="form-horizontal" 
            style="margin: 20px 0px;" 
            method="POST" 
            action="/password_resets">

          <div class="control-group <% if flash[:notice] %> error <% end%>">

              <label class="control-label" for="email">Email</label>
                        
              <div class="controls">
                <input
                  class="input-xlarge focused"
                  id="email"
                  name="email"
                  type="text"
                  value="" />

                <% if flash[:notice] %>
                <div class="clearfix"></div>
                <span class="help-inline" style="margin-top: 10px"><%= flash[:notice] %></span>
                <% end %>             
              </div>

          </div>

          <div class="pull-right" style="margin-right: 40px;">
              <span><a href="/login">Log In!</a></span>
              <input style="margin-top: -5px; margin-left: 10px" 
                        type="submit" 
                        class="btn btn-primary" 
                        value="Reset Password" />
          </div>
          
          <div class="clearfix"></div>
          
    </form>

</div>
