<h1>Edit airframe</h1>

<form id="edit-airframe" name="airframe">
  <div class="field">
    <label for="serial"> serial:</label>
    <input type="text" name="serial" id="serial" value="<%= serial %>" >
  </div>

  <div class="field">
    <label for="registration"> registration:</label>
    <input type="text" name="registration" id="registration" value="<%= registration %>" >
  </div>

  <div class="field">
    <label for="year"> year:</label>
    <input type="text" name="year" id="year" value="<%= year %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update Airframe" />
  </div>

</form>

<a href="#/index">Back</a>