<div class="row" style="margin-left: 20px;">

    <div style="margin-left: 20px;">
        <div class="span9 page-header">
            <h1>My Entire Deck <small> (<%= count %>)</small></h1>        
        </div>
        
        <% if (count > 0) { %>
        <ul class="nav nav-pills">
            <li>
                <a class="sort" data-sort="created_at" data-dir="asc" onclick="return false;" href="#">
                  By Date Created 
                </a>
            </li>
            <li>
                <a class="sort" data-sort="year" data-dir="asc" onclick="return false;" href="#">
                  By Model Year 
                </a>
            </li>
            <li>
                <a class="sort" data-sort="serial" data-dir="asc" onclick="return false;" href="#">
                  By Serial 
                </a>
            </li>  
            <li>
                <a class="sort" data-sort="tt" data-dir="asc" onclick="return false;" href="#">
                  By Total Time 
                </a>
            </li>                        
        </ul>
        <% } %>
    </div>
    
    <div id="airframes"></div>
    
    <% if (count == 0) { %>
    <div class="span8 alert alert-info">
        <br/><strong>Welcome to JetDeck!</strong><br/>
        You don't have any aircraft in your deck right now. Create a new spec by clicking the 'New Spec' button.
        <br/><br/>
    </div> 
    <% } %>   
    
</div>

<% if (pages > 1) { %>
<div class="row"  style="margin-left: 20px;" >
    <div class="span9">
        <div class="pagination pull-right">
          <ul>
            <li><a class="prev"  onclick="return false;" href="#">Prev</a></li>

            <% if (pages > 2) { %>
            <% for (var i = 1; i < pages + 1; i++) { %>
            <li><a class="page" rel="<%= i %>" onclick="return false;" href="#"><%= i %></a></li>
            <% } } %>

            <li><a class="next" onclick="return false;" href="#">Next</a></li>
          </ul>
        </div>
    </div>
</div>
<% } %> 

