<div class="modal-header">
  <button class="close" data-dismiss="modal">×</button>
  <h3>New Aircraft</h3>
</div>

<div class="modal-body" style="padding-left: 50px;">

  <form name="airframe">

    <div class="import_group">
      <label class="radio" for="airframe-create" style="clear: both; color: #000">
        <input type="radio" name="airframe-create" value="import" checked><h5> Import From Listing URL:</h5>
      
        <input class="span6 pull-left" type="text" 
        name="import" 
        id="airframe_url" 
        placeholder="www.listing.com/id/14413133..."/>
      </label>
    </div>

    <div class="registration_group">
      <label class="radio" for="airframe-create" style="clear: both; color: #000">
        <input type="radio" name="airframe-create" value="find"><h5> Find Details By Registration Number:</h5>
        
        <input class="span6 pull-left" type="text" 
        name="registration" 
        id="airframe_registration" 
        placeholder="N123XX, VP-XXX, etc."/>
        
        <input type="text" name="year" 
        id="airframe_year" 
        class="input-mini" 
        placeholder="Year">

        <input type="hidden" name="headline" 
        id="airframe_headline" 
        class="span3 airframe-headline">

        <input type="text" name="serial" 
        id="airframe_serial" 
        class="input-small airframe-serial" 
        placeholder="Serial No.">

      </label>

      <span class="help-block hide">Invalid Aircraft Model</span>
      
    </div>

  </form>

</div>

<div class="modal-footer">
  <a href="#" class="btn" data-dismiss="modal">Cancel</a>
  <button id="new_airframe" class="btn btn-primary">Create Spec</button>
</div>
