<div class="modal-header">
<button class="close" data-dismiss="modal">×</button>
<h3>New Aircraft Spec</h3>
</div>

<form id="new-airframe" name="airframe">
<div class="modal-body" style="padding-left: 50px;">
  
  <br/>
  <div class="control-group">
    <label for="registration" style="clear: both; color: #000">Find Details By Registration Number:</label>
    <input class="pull-left" type="text" name="registration" id="registration" value="<%= registration %>"  placeholder="N123XX, VP-XXX, etc.">
    <p class="help-block pull-left hide" style="margin-top: 4px; margin-left: 15px;">Aircraft Registration Not Found</p>
  </div>
  
  <div style="clear: both; margin-left: 20px;"><br/><h3>OR</h3><br/></div>
      
  <div class="control-group">
    <label for="serial" style="clear: both; color: #000">Begin By Selecting a Model:</label>
    <input type="text" name="year" id="year" class="input-mini" placeholder="2005">
    <input type="text" name="model" id="model" class="input-large"  placeholder="Beechcraft King Air 200">
    <input type="text" name="serial" id="serial" class="input-small"  placeholder="BB-XXXX">
    <span class="help-block hide">Invalid Aircraft Model</span>
  </div>
  
</div>
</form>

<div class="modal-footer">
<a href="#" class="btn">Cancel</a>
<a href="#" class="btn btn-primary">Create Spec</a>
</div>
