<div class="modal-header">
  <button class="close" data-dismiss="modal">×</button>
  <h3>Create a New Aircraft</h3>
</div>

<div class="modal-body">

  <form name="airframe">

    <label class="radio" for="airframe-create" style="clear: both; color: #000">
    <div>
      <h5>Import From an Online Listing</h5>
      <div class="alert alert-info">
      <ol>

        <li>

          <strong>Drag</strong> this button to your bookmarks 

          <a class="btn btn-success btn-large pull-right" style="margin-top: 20px" href="javascript:(function(){document.getElementsByTagName('head')[0].appendChild(document.createElement('script')).src='<%=bookmarklet_url%>';})();"><i class="icon-download-alt icon-large"></i> Import Aircraft</a>
          <br>
        </li>

        <li>Browse to an <strong>aircraft listing</strong><br></li>

        <li><strong>Click the bookmark</strong> and the aircraft will be imported to your deck!<br></li>

      </ol>
      </div>
    </div>

    <div class="registration_group">
      
        <h5>Create From Registration or Serial</h5>
        
        <input class="span6 pull-left" type="text" 
        name="registration" 
        id="airframe_registration" 
        placeholder="N123XX, VP-XXX, etc."/>
        
        <input type="text" name="year" 
        id="airframe_year" 
        class="input-mini" 
        placeholder="Year">

        <input type="hidden" name="headline" 
        id="airframe_headline" 
        class="span3 airframe-headline">

        <input type="text" name="serial" 
        id="airframe_serial" 
        class="input-small airframe-serial" 
        placeholder="Serial No.">

      

      <span class="help-block hide">Invalid Aircraft Model</span>
      
    </div>
    </label>

  </form>

</div>

<div class="modal-footer">
  <a href="#" class="btn" data-dismiss="modal">Cancel</a>
  <button id="new_airframe" class="btn btn-primary">Create Spec</button>
</div>
