<div class="modal-header">
  <button class="close" data-dismiss="modal">×</button>
  <h3>Quick Send!</h3>
</div>

<div class="modal-body" style="max-height: 450px;">

<form class="form-horizontal" id="quick-send">
  <div class="control-group">
    <label class="control-label" for="quick-send-email">To: </label>
    <div class="controls">
      <input type="text" id="quick-send-email" class="input span5" placeholder="Email">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="quick-send-spec">Spec: </label>
    <div class="controls">
      <input type="file" id="quick-send-spec">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="quick-send-subject">Subject: </label>
    <div class="controls">
      <input type="text" id="quick-send-subject" class="input span5" placeholder="Subject">
    </div>
  </div>
  <div class="controls">
      <textarea class="input span5" name="quick-send-body" style="min-height: 130px; "></textarea>
      <div id="quick-send-filename" class="span5">
        <div class="well">
          <span style="height: 25px; margin-left: 5px"><i class="icon-paper-clip icon-large"></i> </span> 
          <span style="height: 25px; margin-left: 5px"> Filename.pdf <small>(380kb)</small></span>
        </div>
      </div>
  </div>


</form>

</div>

<div class="modal-footer">
  <span class="pull-left error span4" style="text-align: left;" id="error-message"></span>
  <a href="#" class="btn" data-dismiss="modal">Cancel</a>
  <button id="send" class="btn btn-primary">Send</button>
</div>

<style type="text/css">
#quick-send textarea {
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius:  4px 4px 0 0;
  border-radius:  4px 4px 0 0;  
}
#quick-send-filename {
  margin-left: 0;
}
#quick-send-filename div {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; 
  padding: 10px 7px;
  -webkit-box-shadow: 0;
  -moz-box-shadow: 0;
  box-shadow: 0;
  font-weight: bold;
}
#quick-send-filename div small {
  color: #555555;
}
.form-horizontal .controls {
  margin-left: 124px;
}
.form-horizontal .control-label {
  width: 100px;
}
</style>