
<!-- HEADER -->
<div id="airframe_show_header"></div>
<div class="clearfix"><br></div>

<!-- LEADS -->
<div id="airframe_leads"></div>
<div class="clearfix"></div>

<div class="span6">

    <!-- SPEC DETAILS -->
    <div id="airframe_specs"></div>

</div> <!-- end span6 (large body content area) -->

<div class="offset6" style="margin-right: 20px;">

    <!-- ACTIONS -->
    <div id="airframe_actions"></div>
    
    <!-- DELETE -->
    <div id="airframe_delete"></div>    

</div> <!-- end offset6 (right spec details bar) -->

