
<!-- HEADER -->
<div id="airframe_show_header"></div>

<div class="btn-toolbar pull-right" style="margin-right: 20px; margin-top: -35px;">
  <div class="btn-group">
    <!--<button class="btn btn-large"><i class="icon-cog "></i> Setup</button>-->
  </div>
</div> <!-- end setup button block -->

<!-- Page header serves as an horizontal line divider between header area and body area -->
<div style="clear:both" class="page-header"></div>


<div class="span6">

    <!-- NOTICES -->

    <!-- NOTES -->

    <!-- SPEC DETAILS -->
    <div id="airframe_spec_details"></div>

    <!-- LEADS -->
    <div id="airframe_leads"></div>

    <!-- HISTORY -->

</div> <!-- end span6 (large body content area) -->

<div class="offset6" style="margin-right: 20px;">

    <!-- SEND -->
    <div id="airframe_send"></div>

    <!-- TASKS -->

    <!-- ASSOCIATES -->

    <!-- LISTINGS -->

    <!-- DOCUMENTS -->

</div> <!-- end offset6 (right spec details bar) -->

<!-- PHOTOS -->
