
<!-- HEADER -->
<div id="airframe_show_header"></div>

<div class="clearfix"><br></div>

<div class="row" style="margin-left: 0px;">

    <!-- LEADS -->
    <div id="airframe_leads"></div>

    <!-- SEND -->
    <div id="airframe_send"></div>

</div>

<div class="clearfix"></div>

<div class="page-header"></div>

<div class="span6">

    <!-- NOTICES -->

    <!-- NOTES -->

    <!-- SPEC DETAILS -->
    <div id="airframe_spec_details"></div>

    <!-- HISTORY -->

</div> <!-- end span6 (large body content area) -->

<div class="offset6" style="margin-right: 20px;">

    <!-- ACTIONS -->
    <div id="airframe_actions"></div>

    <!-- ASSOCIATES -->

    <!-- LISTINGS -->

    <!-- DOCUMENTS -->
    
    <!-- DELETE -->
    <div id="airframe_delete"></div>    

</div> <!-- end offset6 (right spec details bar) -->

<div id="add_cotnact_modal" class="modal hide" style="margin: 100px 0 0 -280px">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3>Create new Contact?</h3>
  </div>
  <div class="modal-body">
    <p>This contact is not currently in your address book. Would you like to add it?</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
    <a href="#" class="btn btn-primary">Add Contact</a>
  </div>
</div>

