
<!-- HEADER -->
<div id="airframe_show_header"></div>

<div style="margin-right: 20px; margin-top: 10px;" 
      class="pull-right">
      
  <a onclick="return false;" id ="manage_images_link" class="manage_images manage_images_link" href="#">Manage Images</a> | 
  <a onclick="return false;" class="delete_spec" href="#">Delete Spec</a>
  
</div>

<!-- Page header serves as an horizontal line divider between header area and body area -->
<div style="clear:both" class="page-header"></div>

<div class="span6">

    <!-- NOTICES -->

    <!-- NOTES -->

    <!-- SPEC DETAILS -->
    <div id="airframe_spec_details"></div>

    <!-- LEADS -->
    <div id="airframe_leads"></div>

    <!-- HISTORY -->
    

</div> <!-- end span6 (large body content area) -->

<div class="offset6" style="margin-right: 20px;">

    <!-- SEND -->
    <div id="airframe_send"></div>

    <!-- ACTIONS -->
    <div id="airframe_actions"></div>

    <!-- ASSOCIATES -->

    <!-- LISTINGS -->

    <!-- DOCUMENTS -->

</div> <!-- end offset6 (right spec details bar) -->

<!-- PHOTOS -->
