<table cellpadding="0" border="0" style="line-height: 1.2em; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; border-spacing: 0px; font-size: 100%; border: 0; background-color: #E7E8E8; border-top: 1px solid #ddd" cellspacing="0" width="100%">
   <tbody>
      <tr>
         <td width="100%" align="center">
         
            <table cellpadding="0" border="0" style="line-height: 1.2em; font-family: Helvetica, Arial, sans-serif; border-spacing: 0px; font-size: 100%; border: 0; margin: 30px 0px 30px 0px;" cellspacing="0" width="585">
               <tbody>
                  <tr>
                     <td width="65" valign="top">
                        <a href="http://www.jetdeck.co">
                        <img width="65px" style="border-style: none;" height="65px" alt=" Smarter inventory management for aircraft sales professionals." src="http://jetdeck.co/img/logo_black_emblem.png" />
                        </a>
                     </td>
                     <td width="486" style="vertical-align: middle; padding-left: 20px; text-align: left;">
                        <div style="color: #333333; padding: 0; font-size: 1.4em; line-height: 1.4em;text-align: left;  font-family: Helvetica, Arial, sans-serif;">
                          JetDeck Password Reset
                        </div>
                     </td>
                  </tr>
               </tbody>
            </table>
            
            <table cellpadding="0" border="0" style="border-spacing: 0px; background-color: #ffffff; border: 1px solid #dddddd; border-bottom: 1px solid #bbbbbb; padding-bottom: 20px;" cellspacing="0" width="585">
               <tbody>
                  <tr>
                     <td>
                        <table cellpadding="0" border="0" style="line-height: 1.2em; font-family: Helvetica, Arial, sans-serif; border-spacing: 0px; font-size: 100%; border: 0;" cellspacing="0" width="585">
                           <tbody>
                              <tr>
                                 <td width="50"><img src="" style="border-style: none;" height="1" width="1" /></td>
                                 <td width="485">
                                    <table cellpadding="0" border="0" style="line-height: 1.2em; font-family: Helvetica, Arial, sans-serif; border-spacing: 0px; font-size: 100%; border: 0;" cellspacing="0" width="485">
                                       <tbody>
                                          <tr>
                                             <td style="padding: 30px 0 0;">
                                                <div style="text-align: left; font-family: Helvetica, Arial, sans-serif; font-size: 1.2em; font-weight: bold">
                                                
                                                Someone Recently Requested a Password Reset For Your JetDeck Account
                                                </div>
                                                <br>
                                                <a href="<%= edit_password_reset_url(@user.password_reset_token) %>">Click here to reset your password.</a> If you did not submit this request, no action is required and your password will not be changed.
                                                <br><br>
                                           
                                             </td>
                                          </tr>
                                       </tbody>
                                    </table>
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                     </td>
                  </tr>
               </tbody>
            </table>
            
            <table cellpadding="0" border="0" style="border-spacing: 0px; padding-bottom: 20px; margin: 30px auto;" cellspacing="0" width="585">
               <tbody>
                  <tr>
                     <td>
                        <table cellpadding="0" border="0" style="line-height: 1.2em; font-family: Helvetica, Arial, sans-serif; border-spacing: 0px; font-size: 100%; border: 0;" cellspacing="0" width="585">
                           <tbody>
                              <tr>
                                 <td width="585">
                                    <table cellpadding="0" border="0" style="line-height: 1.2em; font-family: Helvetica, Arial, sans-serif; border-spacing: 0px; font-size: 100%; border: 0;" cellspacing="0" width="585">
                                       <tbody>
                                          <tr>
                                             <td style="padding:0;">

                                                <div style="font-size: 8px; color: #999; line-height:1.1em; text-align: left;  font-family: Helvetica, Arial, sans-serif;" />
                                                <span style="color: #333333">If you do not have a JetDeck account and feel this message was delivered in error, please contact JetDeck customer support and ask to be removed from all future emails: <a href="mailto:support@jetdeck.co">support@jetdeck.co</a>. This email was sent by JetDeck Services, LLC (20100 N 78th Pl, Suite 2200, Scottsdale, AZ 85255).  <br><br><strong>Smarter inventory management for aircraft sales professionals.</strong></span>
      
                                             </td>
                                          </tr>
                                       </tbody>
                                    </table>
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                     </td>
                  </tr>
               </tbody>
            </table>            
            

            
            
         </td>
      </tr>
   </tbody>
</table>
