<td><%= email %> <% if (fire) { %><i class="icon-fire"></i><% } %></td></td>
<td><%= hits %></td>
<td>
<% if (last_viewed != "") {
    var s = new Date(last_viewed);
    var dateString = (s.getMonth()+1) +"/"+ s.getDate() +"/"+ s.getFullYear() +" "+ s.getHours() +":"+ s.getMinutes();   
    } %>
<%= dateString %>
</td>
<td>
  <i class="icon-envelope resend" data-recip_id="<%= recipient_id %>"></i>
</td>
