<div>

            <h3>Leads</h2>

              <table style="font-size:90%" class="table table-condensed">
                <thead>

                  <th>Email</th>
                  <th>Visits</th>
                  <th>Last Visited</th>
                  <th></th>
                </thead>
                <tbody>
                  <tr>

                    <td>nate@honeywell.com <i class="icon-fire"></td></td>
                    <td>17</td>
                    <td>June 3 @ 2:32pm</td>
                    <td>
                      <i class="icon-envelope"></i>

                    </td>
                  </tr>
                  <tr>

                    <td>steve@alliedjet.com</td>
                    <td>3</td>
                    <td>June 3 @ 2:32pm</td>
                    <td>
                      <i class="icon-envelope"></i>

                    </td>
                  </tr>
                  <tr>

                    <td>billh@bostonjets.com <i class="icon-fire"></td></td>
                    <td>1</td>
                    <td>June 3 @ 2:32pm</td>
                    <td>
                      <i class="icon-envelope"></i>

                    </td>
                  </tr>
                  <tr>

                    <td>aj123e@gmail.com</td>
                    <td>12</td>
                    <td>June 2 @ 2:32pm</td>
                    <td>
                      <i class="icon-envelope"></i>

                    </td>
                  </tr>
                  <tr>

                    <td>ella.dodson@embraerre...</td>
                    <td>0</td>
                    <td></td>
                    <td>
                      <i class="icon-envelope"></i>

                    </td>
                  </tr>
                  <tr>

                    <td>jeffrey.smith@att.com</td>
                    <td>6</td>
                    <td>June 1 @ 2:32pm</td>
                    <td>
                      <i class="icon-envelope"></i>

                    </td>
                  </tr>
                </tbody>
              </table>

              <div class="pull-right">
                <div class="pagination" style="margin-top: 0px;">
                  <ul>
                    <li><a href="#">Prev</a></li>
                    <li class="active">
                      <a href="#">1</a>
                    </li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">Next</a></li>
                  </ul>
                </div>
              </div>

          </div> <!-- leads -->

