  <div class="alert alert-block alert-error hide">

    <a class="close" data-dismiss="alert" style=""><i class="icon-remove"></i></a>
    <h4 class="alert-heading">This Aircraft May Have Been Listed!</h4>
    We detected that this aircraft was listed on an online service(s) identified below. Note that it's availability may now be public information.

    <div>&nbsp;</div>

    <ul>
    <li><a href="http://www.controller.com/listingsdetail/aircraft-for-sale/GULFSTREAM-V/2002-GULFSTREAM-V/1232315.htm?">http://www.controller.com/listingsdetail/...</a></li>
    <li><a href="http://www.controller.com/listingsdetail/aircraft-for-sale/GULFSTREAM-V/2002-GULFSTREAM-V/1232315.htm?">http://www.aerocontroller.com/aircraft/123...</a></li>
    </ul>

    <div class="pull-right">
      <label class="checkbox">
        <input type="checkbox"> Mute Alerts
      </label>
    </div>

    <div>&nbsp;</div>

  </div>

