<div class="modal fade" id="photo_modal">

<div class="modal-header">
  <a class="close" data-dismiss="modal">x</a>
  <h3>Photo Manager</h3>
</div> <!-- modal header -->

<div class="modal-body">
  <div id="controls"></div>
  <div id="loading"></div>
  <div id="slideshow"><img src="http://placehold.it/400x300" alt="your image title again for graceful degradation" /></div>
  <div id="caption"></div>
  <div id="thumbs">
      <ul class="thumbs noscript">
          <li>
              <a class="thumb" href="http://placehold.it/300x250" title="your image title">
                  <img src="http://placehold.it/75x75" alt="your image title again for graceful degradation" />
              </a>
          </li>
      </ul>
  </div>
</div> <!-- modal body -->

</div> <!-- photo modal -->   
