<table class="span">
<tbody>

  <% for (var i = 0; i < equipmentItems.length; i++) { %>
    <tr>
      <td><input type="text" value="<%= equipmentItems[i].title %>" class="input-mini" /></td>
      <td class="equipmentTooltip">
          <input type="text" value="<%= equipmentItems[i].name %>" class="input" />
      </td>
      <td><i data-eid="<%= equipmentItems[i].id %>" class="removeEquipment icon-trash"></i></td>
    </tr>
  <% } %>
  
  <% if (equipmentItems.length == 0) { %>
    <tr>  
        <td colspan=3>
          <div class="alert alert-info">
           This airframe currently has no equipment items associated in this category. Add a piece of equipment here: <br><br>
            <input type="text" class="input-mini" placeholder="TCAS"/>
            <input type="text" class="input"/  placeholder="L3 TCAS II ch 7">
            <button class="btn btn-primary pull-right">Add</button>
          </div>
        </td>
    </tr>              
  <% } else { %>
    <tr>
      <td><input type="text" class="input-mini" /></td>
      <td class="equipmentTooltip">
          <input type="text" class="input" />
      </td>
      <td><button class="btn btn-primary pull-right">Add</button></td>
    </tr>  
  <% } %>            
  
</tbody>
</table>
