<div class="modal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>
        EDIT SPEC
    </h3>
  </div>
  <div class="modal-body">

        <p> EDIT </p>
        
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
    <button class="btn btn-danger confirm_remove_lead" 
            data-xspecid="">
            <i data-xspecid="" class="icon-trash icon-white confirm_remove_lead"></i> 
            Remove Lead</button>
  </div>
</div>
