<div class="container">
  <div class="row-fluid">

    <div class="span12">
      <br>
      <i class="pull-right icon-user"></i>
      <i class="pull-right icon-envelope"></i>
      <i class="pull-right icon-print"></i>
    </div>

    <h1>&nbsp;</h1>
    <div class="span12">
    <h1><%= year %> <%= make %> <%= model_name %> <small>N234GH / SN 208B0093<small></h1>
    </div>
    <h4>&nbsp;</h4>

    <div class="span12" style="height: 400px; overflow: hidden; background: url('http://upload.wikimedia.org/wikipedia/commons/6/64/Dassault_Falcon_7X.jpg')">
    </div>

    <div class="span12">
      <h4 class="pull-right" style="margin: 0px"><small>Represented By<small></h4><div class="clearfix"></div>
      <h3 class="pull-right" style="margin: 0px">Nate Fisher, Caravan Pro Sales</h3><div class="clearfix"></div>
      <h4 class="pull-right" style="margin: 0px"><a href="#">nate@caravanprosales.com</a></h4>
    </div>    

  </div>
</div>

