<div id="airframes"></div>

<script type="text/javascript">
  $(function() {
    window.router = new Jetdeck.Routers.AirframesRouter({
      airframes: <%= @airframes.to_json.html_safe -%>
    });
    Backbone.history.start();
  });
</script>
