<h3><br></h3>

<span id="delete-section"> 
  <button class="muted pull-right" style="border: 0; background: none;">Delete Record</button>
</span>

<div id="delete-button" class="hide">

    <p> <strong> Warning! </strong> This will 
    <span class="label label-important">permanently delete</span> all images, history and any associated data 
    with this record. Type 'DELETE' in the text box below and click the button to confirm.</p>
    
    <div class="control-group">
        <span class="help-message error"></span>
        <input id="delete-confirmation-text" 
        class="input" type="text" placeholder="type 'DELETE' to destroy record" style="width: 245px; margin-bottom: 3px; margin-top; 6px"/>
        <button class="btn btn-danger" id="delete-confirm" style="width: 100%; margin-top: 0px;"> 
          <i class="icon-warning-sign icon-white"></i> Permanently Delete Record
        </button>
    </div>

    <br>
    <a href="#delete-section" class="delete-cancel pull-right" style="margin-top: 5px;">Cancel and Close Message</a>
    <br>

</div>
    
<h5>&nbsp;</h5>
