<td></td>
<td>
    <a href="<%= link %>">
        <% if (parseInt(version)==0) { %>
        Original
        <% } else { %>
        Revision <%= version %>
        <% } %>
    </a>
</td>
<td><small><%= updated %></small></td>
<td> 
    <div class="btn-group pull-right">
        <button class="btn btn-mini send">Send</button>
        <button class="btn btn-mini disable">X</button>
    </div>
</td>
