<ul class="breadcrumb subsection" style="margin-bottom: 0px">
  
  <li style="text-shadow: none"> 
    <strong>
      <i class="icon-folder-open"></i> Specs
    </strong> 
  </li>
  
  <a href="#" class="pull-right add-spec" style="margin-left: 15px"> Add </a> 

</ul>

<form id="airframe_document_upload" action="/airframe_specs" 
  style="margin: 0;" method="POST" enctype="multipart/form-data"
  data-upload-template-id="document-upload"
  data-download-template-id="document-download">  

  <input type="hidden" name="authenticity_token">
  <input type="hidden" name="airframe_spec[airframe_id]" value="<%= id %>" />

  <!-- The table listing the files available for upload/download -->
  <div id="new-spec-well" style="margin-left: 0px;">
    <table id="new-spec-table" class="table">
        <tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody>
    </table>
    <div class="clearfix"></div>
  </div>

  <input 
    type="file" 
    name="airframe_spec[files][spec]" 
    id="airframe-document-input" 
    style="width: 0px; height: 0px; position: absolute; top: -9999px; left: -9999px; -moz-opacity:0; filter:alpha(opacity: 0); opacity: 0;"
    multiple>

</form>

<div id="specs-empty" class="hide">

  <div style="margin-left: 0px; margin-bottom: 0px;">

      <div class="alert alert-block" style="margin-bottom: 0">

          <div class="span5" style="margin-left: 0px;">

            <button class="add-spec btn btn-success btn-large span3" style="margin: 0px auto;">
              Upload a Spec File
            </button>

            <div class="clearfix"></div>

            <p style="line-height: 24px; color: #2C3E50; margin-top: 20px;">This aircraft does not yet have any specs uploaded. Add one now and start sending to leads. Once you send specs, lead viewing activity will be shown on this page. </p>

          </div>

          <div class="clearfix"></div>

      </div>

  </div>
</div>

<div id="specs-populated" class="hide">
  <div style="margin-left: 0px; margin-bottom: 0px;">
    <table id="specs-table" class="table table-hover table-condensed">
      <tbody></tbody>
    </table>
  </div>
</div>

  <!-- The document to display files available for upload -->
  <style>#new-spec-table td {border-top: 0px;}</style>
  <script id="document-upload" type="text/x-tmpl">
  {% for (var i=0, file; file=o.files[i]; i++) { %}
      <tr class="document-upload fade">
          <td class="name" style="vertical-align: middle"><span>{%=file.name.rtrunc(15)%}</span></td>
          {% if (file.error) { %}
              <td class="error" style="vertical-align: middle">
                Files must be .doc or .pdf
              </td>
          {% } else if (o.files.valid && !i) { %}
              <td style="vertical-align: middle">
                  <div class="span1 progress progress-success progress-striped active"
                    style="margin: 10px auto;">
                    <div class="bar" style="width:0%;"></div>
                  </div>
              </td>

          {% } else { %}
              <td></td>
          {% } %}        
          <td class="cancel" style="vertical-align: middle; width: 95px;">
          {% if (!i) { %}
           
              <button class="btn pull-right cancel" style="margin: 0px;">
                  <i class="icon-ban-circle"></i>
                  <span>Cancel</span>
              </button>
          {% } %}
          </td>
      </tr>
  {% } %}
  </script>

  <!-- The document to display files available for download -->
  <script id="document-download" type="text/x-tmpl"> </script>