<ul class="breadcrumb subsection">
  <li style="text-shadow: none"> 
    <strong>
      <i class="icon-check"></i> Specs
    </strong> 
  </li>
  <a href="#" class="pull-right">Add</a>  
</ul>

<div style="margin-left: 0px; margin-bottom: 0px;">

    <div class="alert alert-block" style="margin-bottom: 0">

        <div class="span5" style="margin-left: 0px;">

          <button class="btn btn-success btn-large span3" style="margin: 0px auto;">
            Upload a Spec File
          </button>

          <div class="clearfix"></div>

          <p style="line-height: 24px; color: #2C3E50; margin-top: 20px;">This aircraft does not yet have any specs uploaded. <a href="#">Add one now</a> and start sending to leads. Once you send specs, lead viewing activity will be shown on this page. </p>

        </div>

        <div class="clearfix"></div>

    </div>

</div>

