<td colspan=2>
    <i class="open icon-caret-down" style="display: none"></i><i class="closed icon-caret-right"></i> 
    <%= file_name_t %>
</td>
<td></td>
<td> 
    <div class="btn-group pull-right">
        <button class="btn btn-mini send">Send</button>
        <button class="btn btn-mini disable">X</button>
    </div>
</td>
