<div id="spec"></div>

<script type="text/javascript">
  $(function() {
    window.router = new Jetdeck.Routers.SpecRouter(
      { spec: <%= render( template: 'xspecs/show.json.jbuilder', locals: { spec: @spec}).html_safe %> }
    );
    Backbone.history.start();
  });
</script>    
