<div id="profile"></div>

<script type="text/javascript">
  $(function() {
    window.router = new Jetdeck.Routers.ProfileRouter({profile: <%= @user.to_json( :include => :contact ).html_safe -%>});
    Backbone.history.start();
  });
</script>
