<div id="profile"></div>

<script type="text/javascript">
  $(function() {
    window.router = new Jetdeck.Routers.ProfileRouter(
      { profile: <%= render( template: 'users/show.json.jbuilder', locals: { user: @user}).html_safe %> }
    );
    Backbone.history.start();
  });
</script>
