var jetdeck_$ = jQuery.noConflict(true);

/*jc = function(data) {

	jetdeck_container = (jetdeck_$("div#jetdeck").length > 0) ? jetdeck_$("div#jetdeck") : jetdeck_$("<div id='jetdeck'></div>").appendTo("body");

	window.jetdeck_router = new JetDeck.Routers.BookmarkletRouter(
		{ suggestions: data }
	);

	window.jetdeck_router.index();

	Backbone.history.start();

	window.jetdeck_timeout = setTimeout('close_jetdeck()', 7000);

	jetdeck_$("div#jetdeck").slideDown();
   
}

function close_jetdeck() {

	clearTimeout(window.jetdeck_timeout);

	jetdeck_$("div#jetdeck").slideUp();
 
}*/