var jetdeck_$ = jQuery.noConflict(true);

function show_jetdeck(data) {

	jetdeck_container = (jetdeck_$("div#jetdeck").length > 0) ? jetdeck_$("div#jetdeck") : jetdeck_$("<div id='jetdeck'></div>").appendTo("body");

	window.Jetdeck.router = new Jetdeck.Routers.BookmarkletRouter(data);

	window.Jetdeck.router.index();

	Backbone.history.start();

	window.jetdeck_timeout = setTimeout('close_jetdeck()', 7000);

	jetdeck_$("div#jetdeck").css('top', '-300px');

	jetdeck_$("div#jetdeck").animate({top: '10px'}, 500);
   
   	jetdeck_$("div#jetdeck").hover(function(){
   		clearTimeout(window.jetdeck_timeout);
   	});

}

function close_jetdeck() {

	clearTimeout(window.jetdeck_timeout);

	jetdeck_$("div#jetdeck").animate({top: '-300px'}, 1000);
 
}