<div style="margin-left: 20px; width: 710px">

  <ul class="breadcrumb subsection" style="width: 100%; margin-bottom: 0px">
    
    <li style="text-shadow: none"> 
      <strong>
        <i class="icon-user"></i> Leads
      </strong> 
    </li>

  </ul>

    <div id="leads-populated" class="row-fluid" style="margin: 10px auto;"></div>

</div> <!-- leads -->
