
	<td>
		<a class="pull-left" href="/airframes/<%= id %>">
		<%= label.trunc(30) %>
		</a>
	</td>
	<td>
		<% if (serial && serial != "") { %> <%= serial %> <% } %>
	</td>
	<td>
		<% if (registration && registration != "") { %><%= registration %> <% } %>
	</td>
