<span style="margin: 0px 10px;">&nbsp;
<!--  <i class="hide icon-align-justify"></i> -->
</span> 

<input type="text" 
        value="<%= name %>" 
        name="name" 
        class="equipment equipment-name span5 <% 
          if (typeof(pending) != "undefined") { %>changed<% } %>" 
        style="margin-bottom: 0px"/>
        
<span class="remove_equipment">x</span>        

