
<input type="text" 
        value="<%= name %>" 
        name="name" 
        class="equipment equipment-name input-xlarge" 
        style="margin-bottom: 0px"/>
        
<span class="remove_equipment">x</span>        

