
  <div class="alert alert-info" style="width: auto;">

    <input type="text" 
            name="name" 
            class="equipment-name input-xlarge table-input-margin"  
            placeholder="i.e. High Floatation Gear">
             
    <button class="btn btn-primary pull-right table-input-margin add-equipment"">
      <i class="icon-plus icon-white"></i> Add
    </button>
    
  </div>

