<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<body>

    <div style="padding: 10px 7px;
                margin: 10px 0;
                font-weight: bold;
                width: 335px;
                background-color: #f5f5f5;
                border: 1px solid #e3e3e3;
                font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
                font-size: 16px;">

        <div>
            <div style="float:left; margin: 5px 15px 0 10px">
                <img src="http://www.jetdeck.co/assets/favicon.png" style="height: 25px;"/>
            </div>
            <div style="float:left; clear: right;">
                <a href="#" 
                    style="color: #2980B9; text-decoration: none; padding-bottom: 10px">
                    BEECHCRAFT_KING_AIR_350_BB-0992.pdf</a> 
                <span style="font-weight: normal; color: #888888; margin-left: 5px;">(4,234kb)</span>
                <br>
                <a href="#" 
                    style="font-weight: normal; color: #2980B9; font-size: 14px; text-decoration: none; padding-bottom: 10px">
                    View Photos</a> 
            </div>            
            <div style="clear: both"></div>
        </div>
    </div>

    <p>

        Captain, <br><br>

        I did receive your agreement and am working now to advertise your aircraft. I forgot to ask before, but can you remember any agreement you may have had with the Cessna dealer which would prevent you from selling the aircraft before, or at any time near the delivery date? We had an issue like that before and just wanted to clear that up on this machine. <br><br>

        Thanks and all the best,<br><br>

        -- <br>
        <b>Nate Fisher</b><br>
        Allied Jet International<br><br>

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Office: (678) 957-2400<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cell: (404) 630-9777 <br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fax: (678) 957-2401<br><br>

        Visit us online at <a href="#">www.alliedjet.com</a>

    </p>

</body>

</html>

