<div class="modal-header">
  <button class="close" data-dismiss="modal">×</button>
  <h3>Delete Spec?</h3>
</div>

<div class="modal-body" >
  Deleting a spec will revoke access to this file. If you have already sent this spec to customers, be advised they will receive an error when trying to access it from the original email.
</div>

<div class="modal-footer">
  <a href="#" class="btn" data-dismiss="modal">Cancel</a>
  <button id="disable" class="btn btn-danger">Delete</button>
</div>

