<div class="modal-header">
  <button class="close" data-dismiss="modal">×</button>
  <h3>Send Spec</h3>
</div>

<div class="modal-body" style="max-height: 485px;">

  <form class="form-horizontal">

    <div class="control-group">
      <label class="control-label" for="email">To: </label>
      <div class="controls">
        <input type="text" id="email" name="email" class="input span5" placeholder="Email">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Spec: </label>
      <div class="controls">

        <input type="hidden" id="airframe" name="airframe_id" />

        <span id="nospecs" class="hide error" style="margin-top: 10px;"><em>There are no specs for this aircraft</em></span>

        <input type="hidden" id="spec" name="spec_id" />

        <label for="include-photos" class="checkbox hide" style="margin-top: 10px;">
          <input type="checkbox" id="include-photos" name="include_photos" checked> Include Pictures
        </label>

      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="message-subject">Subject: </label>
      <div class="controls">
        <input type="text" id="message-subject" name="message_subject" class="input span5" placeholder="Subject">
      </div>
    </div>

    <div class="controls" style="margin-left: 44px">
        <textarea class="input span6" id="message-body" name="message_body" style="min-height: 140px;"></textarea>
        <div id="attachment" class="span6">
          <div class="well" style="min-height: 0; padding-bottom: 0">
            <div class="span hide" id="attachment-icon" style="margin-left: 5px; padding: 0px">
              <i class="icon-large icon-paper-clip"></i>
            </div> 
            <div class="span" style="margin-left: 10px; padding: 0px;">
              <span style="height: 25px;" id="attachment-filename"> Select a Spec File to Send <i class="icon-circle-arrow-up"></i></span>
              <br>
              <span style="height: 25px;" class="hide" id="attachment-photos-link"> 
                <small><a href='#'>View Photos</a></small>
              </span>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
    </div>

  </form>

</div>

<div class="modal-footer">
  <span class="pull-left error span4" style="text-align: left;" id="error-message"></span>
  <a href="#" class="btn" data-dismiss="modal">Cancel</a>
  <button id="send" class="btn btn-primary" data-loading-text="Sending..." disabled>Send</button>
</div>

<style type="text/css">
  #s2id_spec { margin-top: 10px; }
  #airframe, #spec {
    width: 379px;
  }
  #message-body {
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius:  4px 4px 0 0;
    border-radius:  4px 4px 0 0;  
  }
  #attachment {
    margin-left: 0;
  }
  #attachment div {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0; 
    padding: 10px 7px;
    -webkit-box-shadow: 0;
    -moz-box-shadow: 0;
    box-shadow: 0;
    font-weight: bold;
  }
  #attachment-filename {
    color: #999;
    font-style: italic;
  }
  #attachment-filename.selected{
    color: #2C3E50;
    font-style: normal;
  }  
  #attachment div small {
    color: #555555;
  }
  .form-horizontal .controls {
    margin-left: 124px;
  }
  .form-horizontal .control-label {
    width: 100px;
  }
</style>
