<div id="html_top"></div>

<script type="text/javascript">
  $(function() {
    window.router = new Jetdeck.Routers.ContactsRouter(
      { contact: <%= render(   template: 'contacts/show',
				                        handlers: [:jbuilder],
				                        formats: [:json], 
                                locals: { contact: @contact}).html_safe %> });
    Backbone.history.start({silent: true});
    window.router.show();
  });
</script>
