<div id="html_top"></div>

<script type="text/javascript">
  $(function() {
    window.router = new Jetdeck.Routers.ContactsRouter(
      { contacts: <%= render(   template: 'contacts/index',
                                 handlers: [:jbuilder],
                                 formats: [:json],  
                                 locals: { contacts: @contacts}).html_safe %> }
    );
    Backbone.history.start();
  });
</script>


