<div id="contacts"></div>

<script type="text/javascript">
  $(function() {
    window.router = new Jetdeck.Routers.ContactsRouter({contacts: <%= @contacts.to_json.html_safe -%>});
    Backbone.history.start();
  });
</script>
