<div class="modal-header">

  <a class="close" data-dismiss="modal">x</a>

  <h3>Manage Engines</h3>
  <p>Select the engines currently on-board this airframe</p>
</div> <!-- modal header -->

<div class="modal-body">

     <form id="equipment-form" method=POST>
        <select multiple="multiple" class="multiselect span3" id="avail-parts">
        </select>
      </form>

</div> <!-- modal body -->

<div class="modal-footer"></div> <!-- modal footer -->

