<div class="alert alert-info" style="width: 409px; position: absolute">

 This airframe currently has no engines associated with it. Begin typing a model name to select one from the library, or add your own. <br><br>
 
  <input type="hidden" name="engine" class="engine-selection" style="position: absolute; width: 270px; margin-top: 5px"/>
                
  <button class="btn btn-primary table-input-margin add_engine pull-right" s>
    <i class="icon-plus icon-white"></i> Add
  </button>
  
</div>

<div class="clearfix" style="height: 120px;"></div>
