
  <div class="span2 main-thumbnail contact-main-thumbnail">

    <div><img src="http://placehold.it/140x140" /></div>

  </div>

  <div class="offset2">

       <div id="contact_name_edit" class="">
           <input  type="text"
                    class="inline_edit span3"
                    name="first"
                    value="<%= first %>">
           </input> 
           <input  type="text"
                    class="inline_edit span3"
                    name="last"
                    value="<%= last %>">
           </input>
       </div>
              
       <input  type="text"
                class="inline_edit span6"
                value="<%= company %>"
                name="company"
                placeholder="Enter Company Name">
       </input> 

      <div style="margin: 20px 0px 0px 0px;" class="span7">

        <table class="contact_header_details table table-condensed">
            <tbody>
                <tr>
                    <td>
                        <div class="header_label">Phone</div>
                    </td>
                    <td>
                        <input  type="text"
                                class="inline_edit span4"
                                value=""
                                name="phone"
                                placeholder="Enter Phone Number">
                        </input>                
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="header_label">Email</div>
                    </td>
                    <td>
                        <input  type="text"
                                class="inline_edit span4"
                                value=""
                                name="email"
                                placeholder="Enter Email Address">
                        </input>                
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="header_label">Address</div>
                    </td>
                    <td>
                        <textarea   type="text"
                                    class="inline_edit span4"
                                    name="address"
                                    rows="3"></textarea>                
                    </td>
                </tr>
                                
            </tbody>
        </table>

      </div>

  </div> <!-- offset3 -->

