<h4 class="partial-header"> 
  <i class="icon-check"></i> Actions 
  <span class="pull-right" style="margin-right: 5px;">
    <small><a href="#">Add</a></small>
  </span>
</h4>

<table>

<tr>
<td><input type="checkbox"></td>
<td>Steve S About possible lease back deal<br><div style="width: 100%; text-align: right; font-size: 80%"> Due: Jul 15, 2012</div></td>
</tr>

<tr>
<td><input type="checkbox"></td>
<td>Arrange demo with new lead from bill<br><div style="width: 100%; text-align: right; font-size: 80%"> Due: Jul 15, 2012</div></td>
</tr>

<tr>
<td style="vertical-align: top; padding-top: 8px;"><input type="checkbox"></td>
<td>
  <div style="background: #aae; color: white; cursor: pointer; border-radius: 6px; padding: 4px;">
    Renew exlusive listing agreement by August 
    <br>
    <div style="width: 100%; text-align: right; font-size: 80%"> Due: Jul 15, 2012</div>
  </div>
</td>
</tr>

<tr>
<td><input type="checkbox"></td>
<td>Update ownership info on BB-1242<br><div style="width: 100%; text-align: right; font-size: 80%"> Due: Jul 15, 2012</div></td>
</tr>

</table>
    
<h3>&nbsp;</h3>


