<input  type="text" 
        value="<%= name %>" 
        style="font-weight: bold; width: 65px; margin-bottom: 0px" 
        name="name"
        class="inline-edit"/>
        
<input  type="text"
        name="value"
        value="<%= value %>"
        style="margin-bottom: 0px; margin-left: 5px;"
        class="inline-edit span3"/>        
          
<div style="width: 100%; margin-bottom: 6px; height: 20px;">
  <span class="hide buttons" style="float: right"><a href="#" class="detail-delete">Delete</a></span>
</div>   
