
  <td>
      <div class="contact-header-label"><%= name %></div>
  </td>
  
  <td>

    <input  type="text"
            style="float: right;"
            class="inline-edit span4"
            value="<%= value %>"/>
    <div class="clearfix"></div>
    <div class="buttons pull-right detail-delete hide"><a href="#">Delete Detail</a></div>

  </td>

