<h4 class="partial-header" id="delete-section" style="cursor: pointer"> 
  <i class="icon-trash"></i> Delete Contact 
</h4>

<div id="delete-button" class="hide">
<button class="btn btn-danger delete_contact" id="" style="width: 100%; margin-top: 6px;"> <strong> Delete Contact </strong> </button>
</div>
    
<h3>&nbsp;</h3>

