           <div>

            <textarea class="span6" placeholder="Add a note about this aircraft ..."></textarea>
            <button class="pull-right btn btn-mini">Add Note</button>
            <a class="pull-right" style="margin: 3px 10px;" href="#">Options</a>
            <h2><br/></h2>

            <h4>Nate Fisher <small>on <strong>July 25</strong> @ 2:32pm EDT</small></h4>
            Checkboxes and radios Up to v1.4, Bootstrap required extra markup around
            checkboxes and radios to stack them. Now, it's a simple matter of repeating
            the Checkboxes and radios Up to v1.4, Bootstrap required extra markup
            around checkboxes and radios to stack them. Now, it's a simple matter of repeating the

            <!-- more notes -->
            <div class="hide">
            <div class="page-header"></div>
            <h4>Steve Muller <small>on <strong>July 12</strong> @ 2:15pm EDT</small></h4>
            markup around checkboxes and radios to stack them. Now, it's a simple
            matter of repeating the Checkboxes and radios Up to v1.4, Bootstrap
            required extra markup around checkboxes and radios to stack them. Now,
            it's a simple matter of repeating the
            <div class="page-header"></div>
            <h4>Steve Muller <small>on <strong>July 7</strong> @ 11:23am EDT</small></h4>
            markup around checkboxes and radios to stack them. Now, it's a simple
            matter of repeating the Checkboxes and radios Up to v1.4, Bootstrap required
            extra markup around checkboxes and radios to stack them. Now, it's a simple
            matter of repeating the
            <div class="page-header"></div>
            <h4>Steve Muller <small>on <strong>February 24</strong> @ 4:25pm EDT</small></h4>
            markup around checkboxes and radios to stack them. Now, it's a simple
            matter of repeating the Checkboxes and radios Up to v1.4, Bootstrap required
            extra markup around checkboxes and radios to stack them. Now, it's a simple
            matter of repeating the
              <div class="pull-right">
                <div class="pagination" style="margin-top: 0px;">
                  <ul>
                    <li><a href="#"><<</a></li>
                    <li class="active">
                      <a href="#">1</a>
                    </li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">>></a></li>
                  </ul>
                </div>
              </div>
            </div> <!-- more notes -->
            <br/><div class="pull-right"><a href="#">..more</a></div>
            <h2><br/></h2>
          </div> <!-- notes -->

