
<select class="span2 assoc">
  <option>Owner</option>
  <option>Factional Owner</option>  
  <option>Operator</option>
  <option>Pilot</option>
  <option>Broker</option>
  <option>Lessee</option>
  <option>Lessor</option>
  <option>Associated</option>
</select>

<input type="text" class="span3 description" value="<%= description %>" placeholder="Aircraft Description"></input>

<span class="buttons hide" style="line-height: 26px;">
  <a href="#" class="pull-right delete"><i class="icon-remove"></i></a>
</span>


