

<div style="margin: 5px auto; line-height: 20px;" class="ownership-item clearfix">

  <div class="span2"><strong><%= assoc %></strong></div> <div class="span2"><%= description %></div>
  <span class="buttons hide span1" style="line-height: 20px;">
    <a href="#" class="pull-right delete"><i class="icon-remove"></i></a>
  </span>

</div>




