<div>

  <select class="span2" id="new-ownership-assoc">
    <option>Owner</option>
    <option>Factional Owner</option>  
    <option>Operator</option>
    <option>Pilot</option>
    <option>Broker</option>
    <option>Lessee</option>
    <option>Lessor</option>
    <option>Associated</option>
  </select>
  
  <input type="text" class="span3" placeholder="Aircraft Description" id="new-ownership-description"></input>
  <button class="pull-right btn" id="add">Add</button>
  
  <br>
  
  <div id="ownership_items"></div>

  <% if (pages > 1) { %>

          <div class="notes-pagination pagination pull-right">
            <ul>
              <li><a class="prev"  onclick="return false;" href="#">Prev</a></li>

              <% if (pages > 2) { %>
              <% for (var i = 1; i < pages + 1; i++) { %>
              <li><a class="page" rel="<%= i %>" onclick="return false;" href="#"><%= i %></a></li>
              <% } } %>

              <li><a class="next" onclick="return false;" href="#">Next</a></li>
            </ul>
          </div>
 
  <% } %> 
  
</div>
