
  <ul class="breadcrumb subsection pull-left" style="width: 169px;">
    <li style="text-shadow: none"> 
      <strong>
        <i class="icon-share-alt"></i> 
        Specs
      </strong> 
    </li>
  </ul>   
  <button class="btn pull-left btn-danger" style="color: white; background: rgb(199, 120, 120); margin-left: 10px; height: 27px; padding-top: 3px;">Send</button> 

  <div class="clearfix"></div>

  <div class="breadcrumb" style="padding: 8px; background: #D9EDF7">
      <div class="control-group" style="margin: 0px;">
        <div class="controls">

          <input style="width: 190px; margin: 0px;" id="recipient_email" placeholder="Enter an email address" type="text">

          <button class="btn pull-right" id="send_spec" style="height: 28px; width: 32px; padding: 4px 5px;" data-loading-text="&lt;img width=18 height=18 src='/assets/loading.gif'&gt;">
            <i class="icon-share-alt"></i>
          </button>

          <span class="help-inline hide">
              Whoops! Please enter a new address 
          </span>

          <div style="margin-top: 5px;">
              <input type="checkbox" checked="" style="margin-top: 1px;" id="send_config"> 
              <span style="line-height: 15px">Configure spec before sending</span>
          </div>

        </div>
      </div>
  </div>
