@import "twitter/bootstrap/variables";
@import "twitter/bootstrap/mixins";

.nav-list a {
  color: #444;
  font-weight: normal;
  font-size: 14px;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  text-shadow: none;
}
.nav-list a .label {
    margin-right: 10px;
}

.left-nav > li, .left-nav > .nav-header {
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
}

.left-nav > li > a {
  line-height: 25px;
  text-shadow: none;
}


#invite-sidebar {
  margin-top: 50px;
}

.left-nav > li > a:hover {
  .border-radius(4px 0 0 4px);  
}