

.contact-main-thumbnail {
  cursor: auto;
  margin-bottom: 20px;
  height: 140px;
}

.inline_edit { padding: 2px;}

input[name='company'] {

    color: #666;
    margin: 15px 0 5px 0px;
    font-size: 20px;
    height: 25px;
    
}

input[name='first'], input[name='last'] {

    color: #666;
    font-size: 25px;
    height: 30px;
    font-weight: bold;   
}

.contact_header_details tbody tr td {
    vertical-align: top
}


.contact_header_details tbody tr {
    height: 25px;
}

.contact-edit-icon {
    margin-top: 10px;
    margin-left: 15px;
    cursor: pointer;
}
