
<input type="text" 
        value="<%= title %>" 
        name="title" 
        class="equipment equipment-title <% 
          if (typeof(pending) != "undefined") { %>changed<% } %>" 
        style="font-weight: bold; 
                text-transform: uppercase; 
                margin-left: <%= margin %>;
                margin-bottom: 0px;
                text-align: center;
                width: 50px;"/>

<input type="text" 
        value="<%= name %>" 
        name="name" 
        class="equipment equipment-name <% 
          if (typeof(pending) != "undefined") { %>changed<% } %>" 
        style="width: 120px; margin-bottom: 0px"/>
        
<span class="remove_equipment">x</span>        

