
  <div class="alert alert-info" style="width: auto;">
    <input type="text" 
            name="title" 
            class="equipment-title input-mini table-input-margin" 
            placeholder="TCAS"
            style="font-weight: bold; text-transform: uppercase; text-align: right;" />
    <input type="text" 
            name="name" 
            class="equipment-name table-input-margin"  
            placeholder="L3 TCAS II ch 7">
    <button class="btn btn-primary pull-right table-input-margin add-equipment">
      <i class="icon-plus icon-white"></i> Add
    </button>
  </div>

