<div class="alert alert-info " style="width: auto;">

 This airframe currently has no avionics items associated with it. Add a avionics items here: <br><br>
 
  <input type="text" 
                name="title" 
                class="equipment-title input-mini table-input-margin" 
                placeholder="TCAS"/>
  <input type="text" 
                name="name" 
                class="equipment-name input-large table-input-margin" 
                placeholder="L3 TCAS II ch 7">
  <button class="btn btn-primary pull-right table-input-margin add-equipment">
    <i class="icon-plus icon-white"></i> Add 
  </button>
  
</div>

<div style="clear: both"></div><br/>
