  <div class="alert alert-block alert-warning" style="width: 690px">

    <button type="button" class="close" data-dismiss="alert"><i class="icon-pushpin"></i></button>
    <strong><%= date %></strong> - <%= description.slice(0,175) %><% if (description.length > 175) { %><span class="elipsis"><a href="#" class="muted"> ...more</a></span><span class="more hide"><%= description.substring(175, description.length) %></span><% } %>

  </div>