
  <ul class="breadcrumb subsection">
  <li style="text-shadow: none"> 
    <strong>
      <i class="icon-comment"></i> 
      Notes
    </strong> 
  </li>
  <a href="#" class="pull-right">Add</a>  
</ul>

<div id="add-note-fields" class="hide">
  <textarea class="span6" placeholder="Add a note about this contact ..."></textarea>
  <button class="pull-right btn btn-mini" id="add-note">Add Note</button>
  <h3><br/></h3>
</div>

<div id="note_items"></div>

<div class="clearfix"></div>

<% if (pages > 1) { %>

        <div class="pagination pull-right">
          <ul>
            <li><a class="prev"  onclick="return false;" href="#">Prev</a></li>

            <% if (pages > 2) { %>
            <% for (var i = 1; i < pages + 1; i++) { %>
            <li><a class="page" rel="<%= i %>" onclick="return false;" href="#"><%= i %></a></li>
            <% } } %>

            <li><a class="next" onclick="return false;" href="#">Next</a></li>
          </ul>
        </div>

<% } %>
