<div>

  <textarea class="span6" placeholder="Add a note ..."></textarea>
  <button class="pull-right btn" id="add-note">Add Note</button>
  <h2><br/></h2>
  
  <div id="note_items"></div>
  
  <div class="clearfix"></div>
  
  <% if (pages > 1) { %>

          <div class="notes-pagination pagination pull-right">
            <ul>
              <li><a class="prev"  onclick="return false;" href="#">Prev</a></li>

              <% if (pages > 2) { %>
              <% for (var i = 1; i < pages + 1; i++) { %>
              <li><a class="page" rel="<%= i %>" onclick="return false;" href="#"><%= i %></a></li>
              <% } } %>

              <li><a class="next" onclick="return false;" href="#">Next</a></li>
            </ul>
          </div>
 
  <% } %> 
  
</div>
