
<% if current_user.warnings.present? %>

  <br><br><br>
  <div style="bottom: 0px; position: fixed; width: 100%; background: #f89406; 
  -webkit-box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);">

    <div class="container">
    <div class="row-fluid">

      <div class="span2"></div>
      <div class="span10" style="text-align: center">

        <h3 style="color: white"><%= current_user.warnings[:message] %>

          <% if current_user.warnings[:type] == 'upgrade' %>
            <a href="/profile" style="margin: 0 20px;" class="btn btn-success btn-large" onclick="mixpanel.track('Clicked Banner', {type: 'upgrade'})">
              <i class="icon-rocket"></i> <strong>Upgrade</strong>
            </a> 
          <% elsif current_user.warnings[:type] == 'activate' %>
            <small>
              <a href="/profile" onclick="mixpanel.track('Clicked Banner', {type: 'activate'})">(More Info)</a> 
            </small> 
          <% elsif current_user.warnings[:type] == 'delinquent' %>
            <a href="/profile" style="margin: 0 20px;" class="btn btn-large" onclick="mixpanel.track('Clicked Banner', {type: 'delinquent'})">
              <i class="icon-credit-card"></i> <strong>Update Payment Method</strong>
            </a> 
          <% end %>

        </h3>

      </div>

    </div>
    </div>

  </div>

<% end %>
