
<% if current_user.warnings.present? %>

  <br><br><br>
  <div style="bottom: 0px; position: fixed; width: 100%; background: #f89406; 
  -webkit-box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);">

    <div class="container">
    <div class="row-fluid">

      <div class="span2"></div>
      <div class="span10" style="text-align: center">

        <h3 style="color: white"><%= current_user.warnings[:message] %>

          <% if current_user.warnings[:type] == 'upgrade' %>
            <button id="stripe-button" style="margin: 0 20px;" class="btn btn-success btn-large">
              <i class="icon-rocket"></i> <strong>Upgrade To Pro</strong>
            </button> 
            <small><a href="/profile">More Options</a></small> 
          <% elsif current_user.warnings[:type] == 'activate' %>
            <small>
              <a href="/profile">(More Info)</a> 
            </small> 
          <% end %>

        </h3>

      </div>

    </div>
    </div>

  </div>

  <% if current_user.warnings[:type] == 'upgrade' %>
    <form id="stripe-form" action="/charges" method="POST">
      <input type=hidden name="authenticity_token" />
      <input type=hidden name="plan" value="PRO"/>
    </form>

    <script type="text/javascript">
      $(function(){

        // set csrf token
        csrfToken = $("meta[name='csrf-token']").attr("content")
        $("#stripe-form input[name='authenticity_token']").val(csrfToken)   

        $('#stripe-button').click(function(){

          // set stripe token and makes ajax call
          var token = function(res) {
            var $input = $('<input type=hidden name=stripeToken />').val(res.id);
            $.post('/charges', $('#stripe-form').append($input).serialize());
          };

          // displays strip window
          StripeCheckout.open({
            key:         '<%= Rails.configuration.stripe[:publishable_key] %>',
            address:     false,
            amount:      3900,
            currency:    'usd',
            name:        'JetDeck Services, LLC',
            description: 'Pro Account Monthly Subscription',
            panelLabel:  'Subscribe',
            token:        token
          });

        });
      });
    </script>
  <% end %>

<% end %>
