<div class="navbar navbar-fixed-top">
  <div class="navbar-inner" style="background: #555555">
    <div class="container">
      <a class="brand" style="margin-bottom: 5px; padding-left: 0px;" href="/">
        <img src="/assets/logo_white_no_tag_130.png" style="float: left"> 
      </a>
      <% if current_user %>
      <div class="pull-right username">

        Welcome, 

        <% if !current_user.activated %> 
          <a href="/profile"
            id="activation-tooltip"
            data-placement="bottom"
            data-title="Activate Your Account"
            data-html="Activate Your Account">
          <script type="text/javascript"> $(function(){ $("#activation-tooltip").tooltip(); });</script>
        <% else %>
          <a href="/profile">
        <% end %>
          
            <% if current_user.contact.first == "" && %>
            <strong>Member</strong>    
            <% else %>
            <strong <% if !current_user.activated %> style="color: #e74c3c"<% end %>>
              <%= current_user.contact.first %> 
              <%= current_user.contact.last %>
              <% if !current_user.activated %> <i class="icon-warning-sign"></i><% end %>
            </strong>                              
            <% end %>
          

        </a>

        | <a href="/logout">Log Out</a>

      </div>
      <% end %>
    </div>
  </div>
</div>  
<div class="row" style="height: 60px;"></div>