<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" style="margin-bottom: 5px; padding-left: 0px;" href="/">
        <img src="/assets/logo_white_no_tag_130_beta.png" style="float: left"> 
      </a>
      <% if current_user %>
      <div class="pull-right username">

        Welcome, 

        <a href="/profile">

          
            <% if current_user.contact.first == "" && %>
            <strong>Member</strong>    
            <% else %>
            <strong>
              <%= current_user.contact.first %> 
              <%= current_user.contact.last %>
            </strong>                              
            <% end %>
          

        </a>

        | <a href="/logout">Log Out</a>

      </div>
      <% end %>
    </div>
  </div>
</div>  
<div class="row" style="height: 60px;"></div>