<div id="changes" 
class="hide alert clearfix"
style="
margin: 0 0 20px 0; 
width: auto; 
-webkit-border-radius: 4px 4px 0 0; 
-moz-border-radius: 4px 4px 0 0; 
border-radius: 4px 4px 0 0;">

<div class="span" style="margin: bottom: 7px; margin-top: 10px;">
  <h3>
    Updates Pending
  </h3>
</div>

<button id="save-changes" class="btn btn-warning pull-right" 
style="margin: 7px 0;">
<i class="icon-save icon-white icon-large"></i> &nbsp;
<strong>Save Changes</strong>
</button>

<div style="margin: 14px 15px 0px 0px; float: right;">
  <a id="cancel-changes" href="#">
    Cancel</a></div>

  </div>
