<div class="row" style="padding-bottom: 10px;">

    <button class="btn btn-danger pull-right" 
            style="margin: 10px 18px 0 0;" 
            alt="Quick Send"
            title="Quick Send"
            id="new-quicksend">
        <i class="icon-share-alt icon-white icon-large"></i>
    </button>

    <div id="create-buttons" class="btn-group pull-right" 
    style="margin: 10px 10px 0 0;">

        <button class="btn" id="new-spec">
            <i class="icon-plane icon-white"></i> New Aircraft 
        </button>

        <button class="btn" id="new-contact">
            <i class="icon-user icon-white"></i> New Contact 
        </button>

    </div>

    <form class="navbar-search pull-right" action="">
        <input type="text" id="navbar-search" class="input-xlarge" placeholder="Jump To..." style="margin: 6px 10px 4px 0;"></input>
    </form>                  

</div> <!-- end row class for search bar and new spec/contact-->