<div id="profile"></div>

<script type="text/javascript">
  $(function() {
    window.router = new Jetdeck.Routers.ProfileRouter(
      { profile: <%= render( template: 'profile/index.json.jbuilder').html_safe %> }
    );
    Backbone.history.start();
  });
</script>
