<div style="padding-top: 20px; background:rgb(236, 242, 245); border-bottom: 1px solid #CCC">

  <div class="span2" id="main-thumbnail" style="margin-bottom: 20px;">
    <img height="170" width="170" style="max-width: none;" src="/assets/placeholder/missing.png"/>
  </div>

  <div class="offset2" id="contact-editable"></div>

  <br>

  <div class="span" style="margin-right: 20px; margin-top: 0px;" id="big_note"></div>

  <div class="clearfix"></div>

</div>   
