<div>
    <h4 class="well" style="padding: 5px;"> <i class="icon-envelope"></i> Send Spec</h4>

    <div class="control-group">
      <div class="controls">
        <input class="input-large span3" style="margin: 0px;" id="recipient_email" placeholder="Enter an email address" type="text">
        <button class="pull-right" id="send_spec" style="height: 28px;"><i class="icon-share-alt"></i></button>
        <span class="help-inline hide">Whoops! Please enter a new email address</span>
      </div>
    </div>

    <!-- TODO add a message to lead
    <label class="checkbox" style="margin: 5px 0px;">
        <input type="checkbox" checked> Add a message to recipient
    </label>
    -->

    <h3>&nbsp;</h3>
</div>
