<a class="manage_images" href="#" onclick="return false;">
<span style="position: absolute; bottom: 0px; width: 140px; text-align: center; color: white; background: #2C3E50">
<strong>Manage Images</strong>
</span>      
<img id="avatar" src="<%= avatar %>" onError="this.src = '/assets/placeholder/aircraft_default_avatar.png'"></a>