<a class="manage-images" href="#" onclick="return false;">
<span style="position: absolute; margin-top: 45px; width: 140px; text-align: center">
<strong>Upload Image</strong><br>
Drag Files Here
</span>
<img id="avatar" style="height: 129px" src="/assets/placeholder/aircraft_default_avatar.png">
</a>
