<h3><br></h3>

<span id="delete-section"> 
  <button class="muted pull-right" style="border: 0; background: none;">Delete Aircraft</button>
</span>

<div id="delete-button" class="hide">

    <p> <strong> Warning! </strong> This will 
    <span class="label label-important">permanently delete</span> all images, history and any associated data 
    with this aircraft. Customers in your lead list will no longer be able to 
    view this aircraft (although they will <strong>not</strong> be deleted).</p>
            
    <button class="btn btn-danger" id="delete-confirm" style="width: 100%; margin-top: 6px;"> 
      <i class="icon-warning-sign icon-white"></i> Permanently Delete Aircraft
    </button>

    <br>
    <a href="#delete-section" class="delete-cancel pull-right" style="margin-top: 5px;">Cancel and Close Message</a>
    <br>

</div>
    
<h5>&nbsp;</h5>

