<h4 class="partial-header" id="delete-section" style="cursor: pointer"> 
  <i class="icon-trash"></i> Delete Spec 
</h4>

<div id="delete-button" class="hide">

    <p> <strong> Warning! </strong> This will 
    <span class="label label-important">permanently delete</span> all images, leads, history and any associated data 
    with this spec. Customers in your lead list will no longer be able to 
    view this aircraft. Contacts with associations to this spec will not be deleted.</p>

    <p>You may <a href="#" id="delete-cancel">close this message</a> to cancel the operation.</p>
            
    <button class="btn btn-danger" id="delete-confirm" style="width: 100%; margin-top: 6px;"> 
      <i class="icon-warning-sign icon-white"></i> Permanently Delete Spec
    </button>

</div>
    
<h3>&nbsp;</h3>

