<div class="span6">

  <ul class="breadcrumb pull-left" style="background: #ecf2f5; width: 430px;">

    <li style="text-shadow: none"> 
      <strong>
        <i class="icon-file-alt"></i> 
        Leads
      </strong> 
    </li>

    <li class="show-specs" style="height: 20px; float: right; text-shadow: none"> </li>  
                           
  </ul>

      <table style="font-size:90%" class="table table-hover table-condensed">
        <tbody></tbody>
      </table>

    <% if (pages > 1) { %>
    <div class="row small"  style="margin-left: 20px;">
    
            <div class="pagination pull-right" style="margin: 0">
              <ul>
                <li><a class="prev" onclick="return false;" href="#">Prev</a></li>

                <% if (pages > 2) { %>
                <% for (var i = 1; i < pages + 1; i++) { %>
                <li><a class="page" rel="<%= i %>" onclick="return false;" href="#"><%= i %></a></li>
                <% } } %>

                <li><a class="next" onclick="return false;" href="#">Next</a></li>
              </ul>
            </div>
      
    </div>
    <% } %> 
      
  </div> <!-- leads -->
