<div style="margin-left: 20px; width: 740px; margin-right: 20px; margin-top: 0px;">
<ul class="breadcrumb subsection">
  <li style="text-shadow: none"> 
    <strong>
      <i class="icon-user"></i> Leads <small>(19)</small>
    </strong> 
  </li>
</ul>
    <table style="font-size:90%" class="table table-hover table-condensed">
      <tbody>
        <tr>
          <td><a href="#">Nate Fisher</a></td>
          <td><a href="#">Beechcraft_king_air.pdf (ALPHA)</a></td>
          <td>5/23/2013</td>
          <td>Downloaded</td>
          <td>
            <button class="btn btn-mini pull-right" style="margin-left: 10px;">Resend</button>
            <div class="btn-group pull-right" data-toggle="buttons-checkbox">
              <button type="button" class="btn btn-mini">Spec</button>
              <button type="button" class="btn btn-mini">Photos</button>
            </div>
          </td>          
        </tr>
        <tr>
          <td><a href="#">steve@alliedjet.com</a></td>
          <td><a href="#">Beechcraft_king_air.pdf (ALPHA)</a></td>
          <td>5/23/2013</td>
          <td>Downloaded</td>
          <td>
            <button class="btn btn-mini pull-right" style="margin-left: 10px;">Resend</button>
            <div class="btn-group pull-right" data-toggle="buttons-checkbox">
              <button type="button" class="btn btn-mini">Spec</button>
              <button type="button" class="btn btn-mini">Photos</button>
            </div>
          </td>          
        </tr>
        <tr>
          <td><a href="#">Bill Maston</a></td>
          <td><a href="#">Beechcraft_king_air.pdf (ALPHA)</a></td>
          <td>5/23/2013</td>
          <td>Downloaded</td>
          <td>
            <button class="btn btn-mini pull-right" style="margin-left: 10px;">Resend</button>
            <div class="btn-group pull-right" data-toggle="buttons-checkbox">
              <button type="button" class="btn btn-mini">Spec</button>
              <button type="button" class="btn btn-mini">Photos</button>
            </div>
          </td>        
        </tr>
        <tr>
          <td><a href="#">jeff.kazinsky</a></td>
          <td><a href="#">Beechcraft_king_air.pdf (ALPHA)</a></td>
          <td>5/23/2013</td>
          <td>Downloaded</td>
          <td>
            <button class="btn btn-mini pull-right" style="margin-left: 10px;">Resend</button>
            <div class="btn-group pull-right" data-toggle="buttons-checkbox">
              <button type="button" class="btn btn-mini">Spec</button>
              <button type="button" class="btn btn-mini">Photos</button>
            </div>
          </td>         
        </tr>
      </tbody>
    </table>

    <div class="row small"  style="margin-left: 20px;">
        <div class="pagination pull-right" style="margin: 0">
          <ul>
            <li><a class="prev" onclick="return false;" href="#">Prev</a></li>
            <li><a class="page" rel="1" onclick="return false;" href="#">1</a></li>
            <li><a class="page" rel="2" onclick="return false;" href="#">2</a></li>
            <li><a class="next" onclick="return false;" href="#">Next</a></li>
          </ul>
        </div>
    </div>
      
</div>