<div>

    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#" onclick="return false;">Leads</a>
      </li>
    </ul>

      <table style="font-size:90%" class="table table-condensed">
        <thead>

          <th>
            <a class="sort" data-sort="email" data-dir="asc" onclick="return false;" href="#">
            Contact
            </a>
          </th>
          <th style="text-align:center;">
            <a class="sort" data-sort="hits" data-dir="asc" onclick="return false;" href="#">
            Views
            </a>          
          </th>
          <th style="text-align:center;">
            <a class="sort" data-sort="last_viewed" data-dir="asc" onclick="return false;" href="#">
            Last Viewed
            </a>          
          </th>
          <th></th>
        </thead>
        <tbody></tbody>
      </table>

    <% if (pages > 1) { %>
    <div class="row"  style="margin-left: 20px;">
    
            <div class="pagination pull-right">
              <ul>
                <li><a class="prev" onclick="return false;" href="#">Prev</a></li>

                <% if (pages > 2) { %>
                <% for (var i = 1; i < pages + 1; i++) { %>
                <li><a class="page" rel="<%= i %>" onclick="return false;" href="#"><%= i %></a></li>
                <% } } %>

                <li><a class="next" onclick="return false;" href="#">Next</a></li>
              </ul>
            </div>
      
    </div>
    <% } %> 
      
  </div> <!-- leads -->
