
<h4 class="well" style="padding: 5px;"> <i class="icon-list-alt"></i> Listings <span class="pull-right" style="margin-right: 5px;"><small><a href="#">Edit</a></small></span></h4>

    <table style="font-size:90%;"  class="table table-condensed">
      <tbody>
        <tr>
          <td  style="border-top: 0px;"><h6>Controller.com</h6></td>
          <td  style="border-top: 0px;">$12,230,000</td>
        </tr>
        <tr>
          <td><h6>AeroController</h6></td>
          <td>$12,100,000</td>
        </tr>
        <tr>
          <td><h6>SpeedNews</h6></td>
          <td>$12,675,000</td>
        </tr>
        <tr>
          <td><h6>PlaneFax</h6></td>
          <td>$12,100,000</td>
        </tr>
      </tbody>
    </table>

<h3>&nbsp;</h3>

