<div class="offset6">

  <ul class="breadcrumb pull-left" style="background: #ecf2f5; width: 160px;">
    <li style="text-shadow: none"> 
      <strong>
        <i class="icon-share-alt"></i> 
        Specs
      </strong> 
    </li>
  </ul>   
  <button id="toggle_send" class="btn pull-left btn-danger" style="margin-left: 10px; height: 27px; padding-top: 3px;">Send</button> 

  <div id="history_container" style="padding: 8px; width: 252px;">
    <div id="history" style="width: 250px; margin: 5px auto;"></div>
    <div style="width: 250px; margin: 5px auto;">
      <span style="float: left; line-height: 9px; font-size: 9px;">Daily Activity History</span>
    </div>
  </div>

  <div id="send_container" class="hide">
    <div><br><br></div>
    <img src="/assets/loading.gif" style="display: none;" />
    <div class="breadcrumb" style="margin-bottom: 0px; padding: 8px; background: #f5f5f5; width: 243px;">
        
        <div class="control-group" style="margin: 0px;">
          <div class="controls">
          
            <input style="width: 190px; margin: 0px;" 
                    id="recipient_email" 
                    class="recipient_email"
                    placeholder="Enter an email address" type="text">
                    
            <button class="btn pull-right" 
                    id="send_spec" 
                    style="height: 30px; width: 32px; padding: 4px 5px;"
                    data-loading-text="<img width=18 height=18 src='/assets/loading.gif'>">
              <i class="icon-share-alt"></i>
            </button>
            
            <span class="help-inline hide">
              Please enter a new address 
            </span>

          </div>
        </div>

        <div style="margin-top: 5px;">
          <input type="checkbox" checked style="margin-top: 3px; float: left" id="send_config"> 
          <label for="send_config" style="line-height: 20px; float: left; margin-left: 5px">Configure spec before sending</label>
          <div class="clearfix"></div>
        </div>        

        <div class="pull-right" id="cancel_send"><a href="#">Cancel</a></div>
        <br>

    </div>
  </div>



</div>

