<div>
    <h4 class="partial-header"> 
      <i class="icon-envelope-alt"></i> Send Spec
    </h4>
    
<div class="alert alert-info" style="padding: 8px;">
    <div class="control-group" style="margin: 0px;">
      <div class="controls">
      
        <input style="width: 190px; margin: 0px;" 
                id="recipient_email" 
                placeholder="Enter an email address" type="text">
                
        <button class="btn pull-right" 
                id="send_spec" 
                style="height: 28px; width: 32px; padding: 4px 5px;"
                data-loading-text="<img width=18 height=18 src='/assets/loading.gif'>">
          <i class="icon-share-alt"></i>
        </button>
        
        <span class="help-inline hide">
          Whoops! Please enter a new address 
        </span>
        
        <div style="margin-top: 5px;">
          <input type="checkbox" checked style="margin-top: 1px;" id="send_config"> 
          <span style="line-height: 15px">Configure spec before sending</span>
        </div>
        
      </div>
    </div>
</div>


</div>

