<h3></h3>

<div class="tabbable">

    <ul class="nav nav-tabs">
      <li class="active">
      <a href="#pane_airframe" data-toggle="tab">Airframe</a>
      </li>
      <li>
      <a href="#pane_engines" data-toggle="tab">Engines</a>
      </li>
      <li>
      <a href="#pane_avionics" data-toggle="tab">Avionics</a>
      </li>
      <li>
      <a href="#pane_equipment" data-toggle="tab">Equipment</a>
      </li>      
      <li>
      <a href="#pane_description" data-toggle="tab">Description</a>
      </li>
    </ul>

    <div class="tab-content">

        <div class="tab-pane spec_pane active" id="pane_airframe"></div>
        <div class="tab-pane spec_pane" id="pane_engines"></div>
        <div class="tab-pane spec_pane" id="pane_avionics"></div>
        <div class="tab-pane spec_pane" id="pane_equipment"></div>
        <div class="tab-pane spec_pane" id="pane_description"></div>

  </div> <!-- end tabbed content -->

</div> <!-- end tabbable -->

<h2><br/></h2>
