<ul class="breadcrumb subsection">
  <li style="text-shadow: none"> 
    <strong>
      <i class="icon-folder-open"></i> Specs
    </strong> 
  </li>
  <a href="#" class="pull-right" style="margin-left: 15px"> Add </a> 
  <a href="#" class="pull-right"> Show Hidden </a>
</ul>

<div style="margin-left: 0px; margin-bottom: 0px;">

<table class="table table-hover table-condensed">
  <tbody>

    <tr>
      <td colspan=2><i class="icon-caret-down"></i> Beechcraft_king_air.pdf</td>
      <td></td>
      <td><button class="btn btn-mini pull-right">Update</button></td>
    </tr>
    <tr>
      <td></td>
      <td><a href="">BRAVO</a> <span class="label">9</span></td>
      <td><small>5/23/2013 3:23pm</small></td>
      <td>
        <div class="btn-group pull-right">
          <button class="btn btn-mini">Send</button>
         <button class="btn btn-mini">X</button>
        </div>     
      </td>
    </tr>
    <tr>
      <td></td>
      <td><a href="">ALPHA</a> <span class="label">17</span></td>
      <td><small>5/23/2013 3:23pm</small></td>
      <td>
        <div class="btn-group pull-right">
          <button class="btn btn-mini">Send</button>
         <button class="btn btn-mini">X</button>
        </div>     
      </td>
    </tr>        
    <tr class="muted">
      <td colspan=2>bogus_spec.pdf <span class="label">2</span></td>
      <td><small>5/14/2013 3:23pm</small></td>
      <td>
        <div class="btn-group pull-right">
          <button class="btn btn-mini">Enable</button>
         <button class="btn btn-mini">X</button>
        </div>     
      </td>
    </tr>
    <tr>
      <td colspan=2><a href="">log_files.pdf</a> <span class="label">2</span></td>
      <td><small>5/14/2013 3:23pm</small></td>
      <td>
        <div class="btn-group pull-right">
          <button class="btn btn-mini">Send</button>
          <button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href=""><i class="icon-refresh"></i>  Update</a></li>
            <li><a href=""><i class="icon-pause"></i> Disable</a></li>
          </ul>
        </div>   
      </td>
    </tr>
    <tr>      
      <td colspan=2><i class="icon-caret-right"></i> <a href="">original_spec.pdf</a> <span class="label">7</span></td>
      <td><small>5/23/2013 3:23pm</small></td>
      <td>
        <div class="btn-group pull-right">
          <button class="btn btn-mini">Send</button>
          <button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href=""><i class="icon-refresh"></i>  Update</a></li>
            <li><a href=""><i class="icon-pause"></i> Disable</a></li>
          </ul>
        </div>
      </td>
    </tr>
  </tbody>
</table>

</div>

