<td colspan=2>
    <i class="open icon-caret-down" style="display: none"></i><i class="closed icon-caret-right"></i> 
    <%= file_name_t %>
</td>
<td></td>
<td><button class="btn btn-mini pull-right">Send</button></td>
