  <ul class="breadcrumb pull-left" style="background: #ecf2f5; width: 430px;">

    <li style="text-shadow: none"> 
      <strong>
        <i class="icon-file-alt"></i> 
        Aircraft Details 
      </strong> 
    </li>

    <li class="show-specs" style="height: 20px; float: right; text-shadow: none"> 
      <ul id="requirements-nav" style="list-style: none;">
        <li class="dropdown pull-left">
          <a class="dropdown-toggle" id="drop4" role="button" data-toggle="dropdown" href="#">General <b class="caret"></b></a>
          <ul id="menu1" class="dropdown-menu pull-right" role="menu" aria-labelledby="drop4">
            <li class="disabled"><a tabindex="-1" href="#" class="show-requirements">General</a></li>
            <li><a tabindex="-1" href="#" class="show-requirements">Engines</a></li>
            <li><a tabindex="-1" href="#" class="show-requirements">Avionics</a></li>
            <li><a tabindex="-1" href="#" class="show-requirements">Equipment</a></li>
            <li><a tabindex="-1" href="#" class="show-requirements">Description</a></li>
          </ul>
        </li>
      </ul>
    </li>  
                           
  </ul>

  <div class="tab-pane spec_pane active" id="pane_airframe"></div>

<div class=" hide tabbable">

    <ul class="nav nav-tabs">
      <li class="active">
      <a href="#pane_airframe" data-toggle="tab">Airframe</a>
      </li>
      <li>
      <a href="#pane_engines" data-toggle="tab">Engines</a>
      </li>
      <li>
      <a href="#pane_avionics" data-toggle="tab">Avionics</a>
      </li>
      <li>
      <a href="#pane_equipment" data-toggle="tab">Equipment</a>
      </li>      
      <li>
      <a href="#pane_description" data-toggle="tab">Description</a>
      </li>
    </ul>

    <div class="tab-content">

        <div class="tab-pane spec_pane active" id="pane_airframe"></div>
        <div class="tab-pane spec_pane" id="pane_engines"></div>
        <div class="tab-pane spec_pane" id="pane_avionics"></div>
        <div class="tab-pane spec_pane" id="pane_equipment"></div>
        <div class="tab-pane spec_pane" id="pane_description"></div>

  </div> <!-- end tabbed content -->

</div> <!-- end tabbable -->

<h2><br/></h2>
