    <tr class="template-upload fade">
        <td class="preview"><span class="fade"></span></td>
        <td class="name"><span>FILE NAME</span></td>
        <td class="size"><span>000MB</span></td>

            <td>
                <div class="progress progress-success progress-striped active"><div class="bar" style="width:0%;"></div></div>
            </td>
            <td class="start">
                <button class="btn btn-primary">
                    <i class="icon-upload icon-white"></i>
                    <span>start</span>
                </button>
            </td>
      
        <td class="cancel">
            <button class="btn btn-warning">
                <i class="icon-ban-circle icon-white"></i>
                <span>cancel</span>
            </button>
        </td>
    </tr>
