<div class="btn-toolbar btn-group pull-right" style="margin: 10px 20px 0 0;">
                    <button class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#">
                      <i class="icon-plus icon-white"></i> New
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" style="left: auto">
                      <li><a class="new-spec" href="#" onclick="return false;"><i class="icon-plane"></i> New Spec</a></li>
                      <li><a class="new-contact" href="#" onclick="return false;"><i class="icon-user"></i> New Contact</a></li>
                    </ul>
                  </div>-->


                  <!--
